<section id="ccr-main-section">
<div class="container">


<section id="ccr-left-section" class="col-md-8">

<div class="current-page">
  <a href="<%= Pathname(home_index_path) %>"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> Phong độ
</div> <!-- / .current-page -->

<section id="ccr-slide-main" class="carousel slide" data-ride="carousel">

<table id="calendar">
<caption >LIVE!</caption>
<thead data-iceapc="1">
<tr>
  <th width="6%" title="Monday" scope="col">Pos</th>
  <th width="6%" title="Tuesday" scope="col">&uarr; &darr;</th>
  <th width="6%" title="Saturday" scope="col">LP</th>
  <th width="20%" title="Sunday" scope="col">Club</th>
  <th width="6%" title="Monday" scope="col">Rank</th>
  <th width="12%" title="Tuesday" scope="col">Home Form</th>
  <th width="6%" title="Saturday" scope="col">Pts</th>
  <th width="11%" title="Sunday" scope="col">Away Form</th>
  <th width="6%" title="Monday" scope="col">Pts</th>
  <th width="15%" title="Tuesday" scope="col">Last 6 Matches</th>
  <th width="6%" title="Saturday" scope="col">Pts</th>
</tr>
</thead>

<tfoot data-iceapc="1">
<tr>
  <th title="Monday" scope="col">Pos</th>
  <th title="Tuesday"scope="col" >&uarr; &darr;</th>
  <th title="Saturday" scope="col">LP</th>
  <th title="Sunday" scope="col">Club</th>
  <th title="Monday" scope="col">Rank</th>
  <th title="Tuesday" scope="col" >Home Form</th>
  <th title="Saturday" scope="col">Pts</th>
  <th title="Sunday" scope="col">Away Form</th>
  <th title="Monday" scope="col">Pts</th>
  <th title="Tuesday" scope="col">Last 6 Matches</th>
  <th title="Saturday" scope="col">Pts</th>
</tr>
</tfoot>

<tbody data-iceapc="1">
<tr>
  <td title="Monday" scope="col">1</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(1)</td>
  <td title="Sunday" scope="col"><div align="left">Newcastle</div></td>
  <td title="Monday" scope="col">5</td>
  <td title="Tuesday" scope="col" >LDDWWW</td>
  <td title="Saturday" scope="col">11</td>
  <td title="Sunday" scope="col">DLLDWW</td>
  <td title="Monday" scope="col">8</td>
  <td title="Tuesday" scope="col">DWWWWW</td>
  <td title="Saturday" scope="col">16</td>
</tr>
<tr>
  <td title="Monday" scope="col">2</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(2)</td>
  <td title="Sunday" scope="col"><div align="left">Chelsea</div></td>
  <td title="Monday" scope="col">1</td>
  <td title="Tuesday" scope="col" >WWWWW</td>
  <td title="Saturday" scope="col">18</td>
  <td title="Sunday" scope="col">WWDWDW</td>
  <td title="Monday" scope="col">14</td>
  <td title="Tuesday" scope="col">WWDWWW</td>
  <td title="Saturday" scope="col">16</td>
</tr>
<tr>
  <td title="Monday" scope="col">3</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(3)</td>
  <td title="Sunday" scope="col"><div align="left">Southampton</div></td>
  <td title="Monday" scope="col">2</td>
  <td title="Tuesday" scope="col" >DWWWWW</td>
  <td title="Saturday" scope="col">16</td>
  <td title="Sunday" scope="col">LWWLWD</td>
  <td title="Monday" scope="col">10</td>
  <td title="Tuesday" scope="col">LWWWWD</td>
  <td title="Saturday" scope="col">13</td>
</tr>
<tr>
  <td title="Monday" scope="col">4</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(4)</td>
  <td title="Sunday" scope="col"><div align="left">Man City</div></td>
  <td title="Monday" scope="col">3</td>
  <td title="Tuesday" scope="col" >WLDWWW</td>
  <td title="Saturday" scope="col">13</td>
  <td title="Sunday" scope="col">WDWWLD</td>
  <td title="Monday" scope="col">11</td>
  <td title="Tuesday" scope="col">WWLWDW</td>
  <td title="Saturday" scope="col">13</td>
</tr>
<tr>
  <td title="Monday" scope="col">5</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(5)</td>
  <td title="Sunday" scope="col"><div align="left">Man Utd</div></td>
  <td title="Monday" scope="col">4</td>
  <td title="Tuesday" scope="col" >LWWWDW</td>
  <td title="Saturday" scope="col">13</td>
  <td title="Sunday" scope="col">DDLDLW</td>
  <td title="Monday" scope="col">6</td>
  <td title="Tuesday" scope="col">WDDLWW</td>
  <td title="Saturday" scope="col">11</td>
</tr>
<tr>
  <td title="Monday" scope="col">6</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(6)</td>
  <td title="Sunday" scope="col"><div align="left">Everton</div></td>
  <td title="Monday" scope="col">9</td>
  <td title="Tuesday" scope="col" >DLLWDW</td>
  <td title="Saturday" scope="col">8</td>
  <td title="Sunday" scope="col">DWDLWD</td>
  <td title="Monday" scope="col">9</td>
  <td title="Tuesday" scope="col">LWWDDW</td>
  <td title="Saturday" scope="col">11</td>
</tr>
<tr>
  <td title="Monday" scope="col">7</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(7)</td>
  <td title="Sunday" scope="col"><div align="left">West Ham</div></td>
  <td title="Monday" scope="col">6</td>
  <td title="Tuesday" scope="col" >LLWWWD</td>
  <td title="Saturday" scope="col">10</td>
  <td title="Sunday" scope="col">WDLWDL</td>
  <td title="Monday" scope="col">8</td>
  <td title="Tuesday" scope="col">WWWDDL</td>
  <td title="Saturday" scope="col">11</td>
</tr>
<tr>
  <td title="Monday" scope="col">8</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(8)</td>
  <td title="Sunday" scope="col"><div align="left">Spurs</div></td>
  <td title="Monday" scope="col">10</td>
  <td title="Tuesday" scope="col" >WLLWLL</td>
  <td title="Saturday" scope="col">6</td>
  <td title="Sunday" scope="col">WDDLWW</td>
  <td title="Monday" scope="col">11</td>
  <td title="Tuesday" scope="col">WLLWLW</td>
  <td title="Saturday" scope="col">9</td>
</tr>
<tr>
  <td title="Monday" scope="col">9</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(9)</td>
  <td title="Sunday" scope="col"><div align="left">Sunderland</div></td>
  <td title="Monday" scope="col">14</td>
  <td title="Tuesday" scope="col" >DDDWLD</td>
  <td title="Saturday" scope="col">7</td>
  <td title="Sunday" scope="col">DLDLWD</td>
  <td title="Monday" scope="col">6</td>
  <td title="Tuesday" scope="col">WLLWDD</td>
  <td title="Saturday" scope="col">8</td>
</tr>
<tr>
  <td title="Monday" scope="col">10</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(10)</td>
  <td title="Sunday" scope="col"><div align="left">Swansea</div></td>
  <td title="Monday" scope="col">7</td>
  <td title="Tuesday" scope="col" >WWLDWW</td>
  <td title="Saturday" scope="col">13</td>
  <td title="Sunday" scope="col">WLDLDL</td>
  <td title="Monday" scope="col">5</td>
  <td title="Tuesday" scope="col">DLWDWL</td>
  <td title="Saturday" scope="col">8</td>
</tr>
<tr>
  <td title="Monday" scope="col">11</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(11)</td>
  <td title="Sunday" scope="col"><div align="left">Burnley</div></td>
  <td title="Monday" scope="col">19</td>
  <td title="Tuesday" scope="col" >LDDLLW</td>
  <td title="Saturday" scope="col">5</td>
  <td title="Sunday" scope="col">LDLDLW</td>
  <td title="Monday" scope="col">5</td>
  <td title="Tuesday" scope="col">DLLLWW</td>
  <td title="Saturday" scope="col">7</td>
</tr>
<tr>
  <td title="Monday" scope="col">12</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(12)</td>
  <td title="Sunday" scope="col"><div align="left">Stoke</div></td>
  <td title="Monday" scope="col">11</td>
  <td title="Tuesday" scope="col" >LLWWDL</td>
  <td title="Saturday" scope="col">7</td>
  <td title="Sunday" scope="col">DWDLLW</td>
  <td title="Monday" scope="col">8</td>
  <td title="Tuesday" scope="col">LWLDWL</td>
  <td title="Saturday" scope="col">7</td>
</tr>
<tr>
  <td title="Monday" scope="col">13</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(13)</td>
  <td title="Sunday" scope="col"><div align="left">Arsenal</div></td>
  <td title="Monday" scope="col">8</td>
  <td title="Tuesday" scope="col" >WDDDWL</td>
  <td title="Saturday" scope="col">9</td>
  <td title="Sunday" scope="col">DDWLWL</td>
  <td title="Monday" scope="col">8</td>
  <td title="Tuesday" scope="col">LDWWLL</td>
  <td title="Saturday" scope="col">7</td>
</tr>
<tr>
  <td title="Monday" scope="col">14</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(14)</td>
  <td title="Sunday" scope="col"><div align="left">Liverpool</div></td>
  <td title="Monday" scope="col">12</td>
  <td title="Tuesday" scope="col" >WLDWDL</td>
  <td title="Saturday" scope="col">8</td>
  <td title="Sunday" scope="col">LWLWLL</td>
  <td title="Monday" scope="col">6</td>
  <td title="Tuesday" scope="col">WWDLLL</td>
  <td title="Saturday" scope="col">7</td>
</tr>
<tr>
  <td title="Monday" scope="col">15</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(15)</td>
  <td title="Sunday" scope="col"><div align="left">West Brom</div></td>
  <td title="Monday" scope="col">13</td>
  <td title="Tuesday" scope="col" >DLWDDL</td>
  <td title="Saturday" scope="col">6</td>
  <td title="Sunday" scope="col">DLWLWL</td>
  <td title="Monday" scope="col">7</td>
  <td title="Tuesday" scope="col">LDDWLL</td>
  <td title="Saturday" scope="col">5</td>
</tr>
<tr>
  <td title="Monday" scope="col">16</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(16)</td>
  <td title="Sunday" scope="col"><div align="left">Hull</div></td>
  <td title="Monday" scope="col">17</td>
  <td title="Tuesday" scope="col" >DDLWLL</td>
  <td title="Saturday" scope="col">5</td>
  <td title="Sunday" scope="col">WLDDDL</td>
  <td title="Monday" scope="col">6</td>
  <td title="Tuesday" scope="col">WDDLLL</td>
  <td title="Saturday" scope="col">5</td>
</tr>
<tr>
  <td title="Monday" scope="col">17</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(17)</td>
  <td title="Sunday" scope="col"><div align="left">Crystal Palace</div></td>
  <td title="Monday" scope="col">15</td>
  <td title="Tuesday" scope="col" >LDWLLW</td>
  <td title="Saturday" scope="col">7</td>
  <td title="Sunday" scope="col">LDWLDL</td>
  <td title="Monday" scope="col">5</td>
  <td title="Tuesday" scope="col">LLDLLW</td>
  <td title="Saturday" scope="col">4</td>
</tr>
<tr>
  <td title="Monday" scope="col">18</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(18)</td>
  <td title="Sunday" scope="col"><div align="left">QPR</div></td>
  <td title="Monday" scope="col">20</td>
  <td title="Tuesday" scope="col" >LWDLWD</td>
  <td title="Saturday" scope="col">8</td>
  <td title="Sunday" scope="col">LLLLLL</td>
  <td title="Monday" scope="col">0</td>
  <td title="Tuesday" scope="col">LLWLDL</td>
  <td title="Saturday" scope="col">4</td>
</tr>
<tr>
  <td title="Monday" scope="col">19</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(19)</td>
  <td title="Sunday" scope="col"><div align="left">Leicester</div></td>
  <td title="Monday" scope="col">18</td>
  <td title="Tuesday" scope="col" >DDWDLD</td>
  <td title="Saturday" scope="col">7</td>
  <td title="Sunday" scope="col">LWLLLL</td>
  <td title="Monday" scope="col">3</td>
  <td title="Tuesday" scope="col">DLLLLD</td>
  <td title="Saturday" scope="col">2</td>
</tr>
<tr>
  <td title="Monday" scope="col">20</td>
  <td title="Tuesday"scope="col" >&#45;</td>
  <td title="Saturday" scope="col">(20)</td>
  <td title="Sunday" scope="col"><div align="left">Aston Villa</div></td>
  <td title="Monday" scope="col">16</td>
  <td title="Tuesday" scope="col" >DWLLLD</td>
  <td title="Saturday" scope="col">5</td>
  <td title="Sunday" scope="col">WWLLLD</td>
  <td title="Monday" scope="col">7</td>
  <td title="Tuesday" scope="col">LLLLDD</td>
  <td title="Saturday" scope="col">2</td>
</tr>

</tbody>
</table>


</section><!-- /#ccr-slide-main -->



</section><!-- /.col-md-8 / #ccr-left-section -->



<aside id="ccr-right-section" class="col-md-4 ccr-home">

  <section id="sidebar-popular-post">
    <div class="ccr-gallery-ttile">
      <span></span>
      <p><strong>Features</strong></p>
    </div> <!-- .ccr-gallery-ttile -->
    <ul>
      <li>
        <img src="<%= image_path('sports-thumb-10.jpg') %>" alt="Avatar">
        <a href="#">On this day in 1994: Little makes winning start at Villa</a>
        <div class="date-like-comment">
          <span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
          <a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
        </div>
      </li>
      <li>
        <img src="<%= image_path('thumbnail-small-7-7.jpg') %>" alt="Avatar">
        <a href="#">On this day in 2001: Leaders Leeds beaten by Sunderland</a>
        <div class="date-like-comment">
          <span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
          <a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
        </div>
      </li>
      <li>
        <img src="<%= image_path('sports-thumb-5-5.jpg') %>" alt="Avatar">
        <a href="#">Premier League International Cup</a>
        <div class="date-like-comment">
          <span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
          <a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
        </div>
      </li>
      <li>
        <img src="<%=  image_path('thumbnail-small-2-2.jpg') %>" alt="Avatar">
        <a href="#">Aguero and Di Maria lead all-star South American XI</a>
        <div class="date-like-comment">
          <span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
          <a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
        </div>
      </li>
      <li>
        <img src="<%=  image_path('thumbnail-small-5-5.jpg') %>" alt="Avatar">
        <a href="#">On this day in 2012: Pilkington stuns Man Utd at Carrow Road</a>
        <div class="date-like-comment">
          <span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
          <a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
        </div>
      </li>
    </ul>

  </section> <!-- /#sidebar-popular-post -->



</aside><!-- / .col-md-4  / #ccr-right-section -->


</div><!-- /.container -->
</section><!-- / #ccr-main-section -->