<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">

      <div class="current-page">
        <a href="<%= Pathname(home_index_path) %>"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="<%= Pathname(home_news_path) %>">News <i class="fa fa-angle-double-right"></i></a> Premier League kiện ITT vì bản quyền phát sóng ở Anh
      </div> <!-- / .current-page -->

      <article id="ccr-article">
        <h3><a class="active" >Premier League kiện ITT vì bản quyền phát sóng ở Anh</a></h3>


        <img src="<%=  image_path('news/new11_1.jpg') %>" alt="1st Image" style="width:490px ;height:338px ">
        <div class="container">

        </div>

        <img src="<%=  image_path('news/new11_2.jpg') %>" alt="2nd Image">
        <p>
          Premier League hôm nay đã đưa cho các bên quan tâm Invitations to Tender (viết tắt là ITT) cho bản quyền truyền hình Anh nghe nhìn của mình cho mùa 2016/17 - 2018/19.</p>
        <p>Những tài liệu này mô tả các gói của quyền Premier League bây giờ đang mời thầu: </p>
        <p>- Live phát sóng quyền cho tổng cộng 168 trận đấu - chia thành bảy gói. </p>
        <p>- Một điểm nổi bật gói Free-to-Air. </p>
        <p>Quyền Sống bao gồm năm gói của 28 trận và hai gói của 14 trận đấu. Không có người mua duy nhất sẽ được cho phép để có được nhiều hơn 126 trận đấu. </p>
        <p>Điều này tạo ra một lễ vật hấp dẫn đối với các đài truyền hình và người hâm mộ; trong khi cho phép bảo vệ liên tục của ngày thứ Bảy 15:00 "đóng cửa thời gian" - mục đích của nó là để khuyến khích khán giả và sự tham gia ở tất cả các cấp độ của môn thể thao đồng thời truyền thống mà bóng đá Anh diễn ra trên khắp đất nước. </p>
        <p>Một quy trình bán hàng riêng biệt sẽ diễn ra sau đó cho hai gói khác. Đó là: </p>
        <p>- Một "Near Live" dạng dài gói chứa 212 trận, tuyến tính và theo yêu cầu khai thác</p>
        <p>- Một Clips gói dựa trên Internet cho tất cả các trận đấu</p>
        <p>Cả hai gói Live và "Near Live" sẽ có sẵn để khai thác trên cơ sở công nghệ trung lập. </p>
        <p>Quyền phát sóng trực tiếp nghe nhìn Premier League được bán trong bao bì riêng cho một nhiệm kỳ ba năm. Quá trình này được giám sát bởi một ủy viên độc lập và không có người mua duy nhất sẽ được mua quyền cho hơn 126 của 168 trận đấu có sẵn để phát sóng trực tiếp. </p>
        <p>Những điều kiện xuất phát từ một thỏa thuận với Ủy ban châu Âu, cho các quá trình đấu giá cho Premier League quyền nghe nhìn trực tiếp cho 2007 / 08-2009 / 10 và 2010 / 11-2012 / 13, được đưa ra để đảm bảo tuân thủ liên quan luật cạnh tranh. </p>
        <p>Trong quá trình đấu giá cuối cùng, kết hợp với các mùa 2013 / 14-2015 / 16, 154 trận đấu đã được làm sẵn cho live broadcast Anh chia thành bảy gói. Sky thắng năm của gói (116 trận) và BT hai gói (38 trận). Bảy gói đã được bán với tổng số 3018000000 £.</p>
        <p>The Saturday 3:00 "đóng cửa thời gian" là một thỏa thuận theo đó các giải đấu bóng đá và các hiệp hội không thâu bằng máy vô tuyến truyền hình các trận đấu bóng đá ở thời gian truyền thống được chơi tại đất nước của họ để bảo vệ người tham dự và tham gia ở tất cả các cấp độ của trò chơi. Nó tương thích với cả Anh và EU pháp luật và chi tiết trong UEFA Điều 48. </p>


        </p>

      </article> <!-- /#ccr-single-post -->



    </section><!-- /.col-md-8 / #ccr-left-section -->



    <aside id="ccr-right-section" class="col-md-4">

      <section id="ccr-calender">

        <table id="calendar">
          <caption >LIVE!</caption>
          <thead data-iceapc="1">
          <tr>
            <th width="15%" title="Monday" scope="col">Pos</th>
            <th colspan="4" scope="col" title="Tuesday">Club</th>
            <th width="15%" title="Saturday" scope="col">Pld</th>
            <th width="15%" title="Sunday" scope="col">Pts</th>
          </tr>
          </thead>

          <tfoot data-iceapc="4">
          <tr data-iceapc="3">
            <td colspan="4" id="prev"><a href="<%= Pathname(home_leaguetable_path) %>" title="Previous">&laquo; Chi tiết</a></td>
            <td colspan="3" id="next" class="pad"><a href="<%= Pathname(home_form_path) %>" title="Next">Phong độ &raquo;</a></td>
          </tr>
          </tfoot>

          <tbody>
          <tr>
            <td>1 &#9679;</td><td colspan="4"><div align="center">Chelsea</div></td>
            <td>11</td>
            <td >29</td>
          </tr>
          <tr>
            <td>2 &#9679;</td><td colspan="4"><div align="center">Southampton</div></td>
            <td>11</td>
            <td >25</td>
          </tr>
          <tr>
            <td>3 &#9679;</td><td colspan="4"><div align="center">Man City</div></td>
            <td>11</td>
            <td >21</td>
          </tr>
          <tr>
            <td>4 &uarr;</td><td colspan="4"><div align="center">West Ham</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>5 &uarr;</td><td colspan="4"><div align="center">Swansea</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>6 &darr;</td><td colspan="4"><div align="center">Arsenal</div></td>
            <td>11</td>
            <td >17</td>
          </tr>
          <tr>
            <td>7 &uarr;</td><td colspan="4"><div align="center">Man Utd</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>8 &uarr;</td><td colspan="4"><div align="center">Newcastle</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>9 &uarr;</td><td colspan="4"><div align="center">Stoke</div></td>
            <td>11</td>
            <td >15</td>
          </tr>
          <tr>
            <td>10 &darr;</td><td colspan="4"><div align="center">Everton</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>11 &darr;</td><td colspan="4"><div align="center">Liverpool</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>12 &darr;</td><td colspan="4"><div align="center">Spurs</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>13 &darr;</td><td colspan="4"><div align="center">West Brom</div></td>
            <td>11</td>
            <td >13</td>
          </tr>
          <tr>
            <td>14 &uarr;</td><td colspan="4"><div align="center">Sunderland</div></td>
            <td>11</td>
            <td >12</td>
          </tr>
          <tr>
            <td>15 &darr;</td><td colspan="4"><div align="center">Hull</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>16 &#9679;</td><td colspan="4"><div align="center">Aston Villa</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>17 &#9679;</td><td colspan="4"><div align="center">Crystal Palace</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>18 &#9679;</td><td colspan="4"><div align="center">Leicester</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>19 &#9679;</td><td colspan="4"><div align="center">QPR</div></td>
            <td>11</td>
            <td >8</td>
          </tr>
          <tr>
            <td>20 &#9679;</td><td colspan="4"><div align="center">Burnley</div></td>
            <td>11</td>
            <td >7</td>
          </tr>
          </tbody>
        </table>

      </section>


    </aside><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->