<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">

      <div class="current-page">
        <a href="<%= Pathname(home_index_path) %>"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="<%= Pathname(home_news_path) %>">News <i class="fa fa-angle-double-right"></i></a> Aguero và Pardew nhận giải thưởng hàng tháng của Barclays
      </div> <!-- / .current-page -->

      <article id="ccr-article">
        <h3><a class="active" >Aguero và Pardew nhận giải thưởng hàng tháng của Barclays</a></h3>


        <img src="<%=  image_path('news/new10_1.jpg') %>" alt="1st Image" style="width:490px ;height:338px ">
        <div class="container">

        </div>

        <img src="<%=  image_path('news/new10_2.jpg') %>" alt="2nd Image">
        <p>
          Tiền đạo Manchester City Sergio Aguero và Newcastle United, Alan Pardew đã nhận các giải thưởng Barclays cho tháng Mười Một.</p>
        <p>Aguero là Barclays Cầu thủ của tháng sau khi lấy ba bàn thắng và hai đường chuyền vào tháng trước, đánh bại tiền đạo Danny Hollands đồng (Burnley), Charlie Austin (Queens Park Rangers) và Harry Kane (Tottenham Hotspur) để giải. </p>
        <p>Pardew đã đi cùng sự cạnh tranh từ Manuel Pellegrini (Manchester City), Jose Mourinho (Chelsea) và Sean Dyche (Burnley) để đòi Manager Barclays của giải thưởng tháng. </p>
        <p>Phiếu đến từ Barclays Panel, một nhóm các cựu cầu thủ, các nhà báo và các bên liên quan bóng đá chính. </p>


        </p>

      </article> <!-- /#ccr-single-post -->



    </section><!-- /.col-md-8 / #ccr-left-section -->



    <aside id="ccr-right-section" class="col-md-4">

      <section id="ccr-calender">

        <table id="calendar">
          <caption >LIVE!</caption>
          <thead data-iceapc="1">
          <tr>
            <th width="15%" title="Monday" scope="col">Pos</th>
            <th colspan="4" scope="col" title="Tuesday">Club</th>
            <th width="15%" title="Saturday" scope="col">Pld</th>
            <th width="15%" title="Sunday" scope="col">Pts</th>
          </tr>
          </thead>

          <tfoot data-iceapc="4">
          <tr data-iceapc="3">
            <td colspan="4" id="prev"><a href="<%= Pathname(home_leaguetable_path) %>" title="Previous">&laquo; Chi tiết</a></td>
            <td colspan="3" id="next" class="pad"><a href="<%= Pathname(home_form_path) %>" title="Next">Phong độ &raquo;</a></td>
          </tr>
          </tfoot>

          <tbody>
          <tr>
            <td>1 &#9679;</td><td colspan="4"><div align="center">Chelsea</div></td>
            <td>11</td>
            <td >29</td>
          </tr>
          <tr>
            <td>2 &#9679;</td><td colspan="4"><div align="center">Southampton</div></td>
            <td>11</td>
            <td >25</td>
          </tr>
          <tr>
            <td>3 &#9679;</td><td colspan="4"><div align="center">Man City</div></td>
            <td>11</td>
            <td >21</td>
          </tr>
          <tr>
            <td>4 &uarr;</td><td colspan="4"><div align="center">West Ham</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>5 &uarr;</td><td colspan="4"><div align="center">Swansea</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>6 &darr;</td><td colspan="4"><div align="center">Arsenal</div></td>
            <td>11</td>
            <td >17</td>
          </tr>
          <tr>
            <td>7 &uarr;</td><td colspan="4"><div align="center">Man Utd</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>8 &uarr;</td><td colspan="4"><div align="center">Newcastle</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>9 &uarr;</td><td colspan="4"><div align="center">Stoke</div></td>
            <td>11</td>
            <td >15</td>
          </tr>
          <tr>
            <td>10 &darr;</td><td colspan="4"><div align="center">Everton</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>11 &darr;</td><td colspan="4"><div align="center">Liverpool</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>12 &darr;</td><td colspan="4"><div align="center">Spurs</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>13 &darr;</td><td colspan="4"><div align="center">West Brom</div></td>
            <td>11</td>
            <td >13</td>
          </tr>
          <tr>
            <td>14 &uarr;</td><td colspan="4"><div align="center">Sunderland</div></td>
            <td>11</td>
            <td >12</td>
          </tr>
          <tr>
            <td>15 &darr;</td><td colspan="4"><div align="center">Hull</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>16 &#9679;</td><td colspan="4"><div align="center">Aston Villa</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>17 &#9679;</td><td colspan="4"><div align="center">Crystal Palace</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>18 &#9679;</td><td colspan="4"><div align="center">Leicester</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>19 &#9679;</td><td colspan="4"><div align="center">QPR</div></td>
            <td>11</td>
            <td >8</td>
          </tr>
          <tr>
            <td>20 &#9679;</td><td colspan="4"><div align="center">Burnley</div></td>
            <td>11</td>
            <td >7</td>
          </tr>
          </tbody>
        </table>

      </section>


    </aside><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->