<section id="ccr-main-section">
<div class="container">


<section id="ccr-left-section" class="col-md-8">

  <div class="current-page">
    <a href="<%= Pathname(home_index_path) %>"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="<%= Pathname(home_news_path) %>">News <i class="fa fa-angle-double-right"></i></a> Arsenal 4-1 Newcastle: Giroud lại gây khó khăn cho Magpies
  </div> <!-- / .current-page -->

  <article id="ccr-article">
    <h3><a class="active" >Arsenal 4-1 Newcastle: Giroud lại gây khó khăn cho Magpies</a></h3>


    <img src="<%=  image_path('news/new1_1.jpg') %>" alt="1st Image" style="width:490px ;height:338px ">
    <div class="container">

    </div>

    <img src="<%=  image_path('news/new1_2.jpg') %>" alt="2nd Image">
    <p>
      Olivier Giroud và Santi Cazorla đều ghi hai bàn trong trận Arsenal gặp Newcastle United để giành được chiến thắng với tỷ số 4-1 và mang lại danh tiếng lớn cho HLV Arsene Wenger.</p>
      <p>Giroud đứng ra bênh vực quản lý của mình sau thất bại 3-2 trước Stoke City cuối tuần trước và, sau một chiến thắng 4-1 tại UEFA Champions League với Galatasaray hồi giữa tuần, Arsenal hứa hẹn sẽ bước vào trận đấu thứ bảy tới tại Barclays Premier League với một chiến thắng vang dội.</p>
      <p>Newcastle đã vào trận mà chỉ bị mất 1 trong 10 trận trước của họ ở tất cả các giải đấu nhưng hiếm khi nhìn thấy họ mở rộng đội hình chạy trên sân Emirates. Giroud mở tỉ số ở phút thứ 15 với pha đánh đầu chính xác, trước khi Cazorla, kỷ niệm sinh nhật lần thứ 30, tăng gấp đôi lợi thế ở chín phút đầu sau giờ nghỉ.</p>
      <p>Giroud ghi bàn thắng thứ hai của mình, và là bàn thứ sáu của mình đánh bại thủ thành Newcastle, bốn phút sau đó bằng cú chuyền ngang của Hector Bellerin, đáp lại sự nỗ lực ở phút thứ 63 của  Ayoze Perez như một sự an ủi. Cazorla ghi them bàn thứ 4 từ chấm phạt đền với hai phút còn lại khi Arsenal chuyển sang top 4 với 2 điểm.</p>
      <p>Chấn thương và treo giò của Calum Chambers buộc Wengerphải  triển khai lính cũ của Newcastle Mathieu Debuchy trở lại làm trung vệ. Đó là đối tác trung vệ Debuchy của  Per Mertesacker, người đã gần như mở tỉ số ở phút thứ tám. Bằng cú đánh đầu của mình từ quả phạt góc của Cazorla đã dội xà ngang và có va chạm với Jak Alnwick.</p>
      <p>Alnwick,là lựa chọn thứ 3 cho vị trí thủ môn, lần đầu tiên bắt cho Newcastle để thay cho Rob Elliot đang chấn thương trong chiến thắng 2-1 cuối tuần qua trước Chelsea, và chỉ bảy phút sau cơ hội của Mertesacker,thủ thành  21 tuổi đã phải vào lưới nhặt bóng. Giroud dâng cao lên để đáp chặn lại đường bóng của Alexis Sanchez và chuyền về với pha đánh đầu đi đúng hướng.</p>
      <p>Arsenal đã bị từ chối một lần thứ hai bởi trọng tài Lee Mason ngay sau đó. Danny Welbeck cắt từ cánh trái và khéo léo dẫn bóng qua Alnwick, nhưng Mason đã phán quyết rằng các tiền đạo đã phạm lỗi với Daryl Janmaat trong vòng cấm.</p>
      <p>Welbeck sau đó chuyền rộng từ 1 pha chuyền xa của Sanchez trước khi xuất hiện để xử lý bóng trong khu vực ở phần sân bên kia. Tuyên bố của Newcastle cho quả phạt đền bị từ chối, đội khách vẫn có thể san bằng tỉ số ở phút thứ 34 nếu không có sự ngăn cản của Wojciech Szczesny với  Yoan Gouffran và Papiss Cisse.</p>
      <p>Arsenal bước vào giờ nghỉ với tỉ số là 2-0 sau khi Cazorla bám sát và vượt qua Sanchez , nâng bóng qua Fabricio Coloccini đang trượt ra ngăn cản trước khi bắn qua Alnwick bên cánh phải.</p>
      <p>Hậu vệ của Newcastle, đang suy yếu do việc đình chỉ trung vệ Steven Taylor,tiếp tục chiến đấu sống còn  với các cuộc tấn công sáng tạo và tốc độ của Arsenal, cơ hội 1 lần nữa được trao cho Giroud sau cú tạt bóng thấp từ Bellerin và sượt ngang qua cột gôn.</p>
      <p>Perez đã đem lại cho Newcastle hy vọng bằng cú sút của Jack Colback ở phút thứ 63 và là bàn thắng thứ tư của anh tại giải này.</p>
      <p>Tuy vậy, Arsenal thấy rất thoải mái trong trận đấu, vì có sự cổ vũ nồng nhiệt tư những người hâm mộ ở quê nhà với khẩu hiệu  và các bài hát cổ động trước pha bóng tinh tế và  tại chỗ-kick Cazorla sau khi Dummett đã đốn ngã Welbeck.</p>

    </p>

  </article> <!-- /#ccr-single-post -->



</section><!-- /.col-md-8 / #ccr-left-section -->



<aside id="ccr-right-section" class="col-md-4">

  <section id="ccr-calender">

    <table id="calendar">
      <caption >LIVE!</caption>
      <thead data-iceapc="1">
      <tr>
        <th width="15%" title="Monday" scope="col">Pos</th>
        <th colspan="4" scope="col" title="Tuesday">Club</th>
        <th width="15%" title="Saturday" scope="col">Pld</th>
        <th width="15%" title="Sunday" scope="col">Pts</th>
      </tr>
      </thead>

      <tfoot data-iceapc="4">
      <tr data-iceapc="3">
        <td colspan="4" id="prev"><a href="<%= Pathname(home_leaguetable_path) %>" title="Previous">&laquo; Chi tiết</a></td>
        <td colspan="3" id="next" class="pad"><a href="<%= Pathname(home_form_path) %>" title="Next">Phong độ &raquo;</a></td>
      </tr>
      </tfoot>

      <tbody>
      <tr>
        <td>1 &#9679;</td><td colspan="4"><div align="center">Chelsea</div></td>
        <td>11</td>
        <td >29</td>
      </tr>
      <tr>
        <td>2 &#9679;</td><td colspan="4"><div align="center">Southampton</div></td>
        <td>11</td>
        <td >25</td>
      </tr>
      <tr>
        <td>3 &#9679;</td><td colspan="4"><div align="center">Man City</div></td>
        <td>11</td>
        <td >21</td>
      </tr>
      <tr>
        <td>4 &uarr;</td><td colspan="4"><div align="center">West Ham</div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>5 &uarr;</td><td colspan="4"><div align="center">Swansea</div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>6 &darr;</td><td colspan="4"><div align="center">Arsenal</div></td>
        <td>11</td>
        <td >17</td>
      </tr>
      <tr>
        <td>7 &uarr;</td><td colspan="4"><div align="center">Man Utd</div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>8 &uarr;</td><td colspan="4"><div align="center">Newcastle</div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>9 &uarr;</td><td colspan="4"><div align="center">Stoke</div></td>
        <td>11</td>
        <td >15</td>
      </tr>
      <tr>
        <td>10 &darr;</td><td colspan="4"><div align="center">Everton</div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>11 &darr;</td><td colspan="4"><div align="center">Liverpool</div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>12 &darr;</td><td colspan="4"><div align="center">Spurs</div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>13 &darr;</td><td colspan="4"><div align="center">West Brom</div></td>
        <td>11</td>
        <td >13</td>
      </tr>
      <tr>
        <td>14 &uarr;</td><td colspan="4"><div align="center">Sunderland</div></td>
        <td>11</td>
        <td >12</td>
      </tr>
      <tr>
        <td>15 &darr;</td><td colspan="4"><div align="center">Hull</div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>16 &#9679;</td><td colspan="4"><div align="center">Aston Villa</div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>17 &#9679;</td><td colspan="4"><div align="center">Crystal Palace</div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>18 &#9679;</td><td colspan="4"><div align="center">Leicester</div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>19 &#9679;</td><td colspan="4"><div align="center">QPR</div></td>
        <td>11</td>
        <td >8</td>
      </tr>
      <tr>
        <td>20 &#9679;</td><td colspan="4"><div align="center">Burnley</div></td>
        <td>11</td>
        <td >7</td>
      </tr>
      </tbody>
    </table>

  </section>


</aside><!-- / .col-md-4  / #ccr-right-section -->


</div><!-- /.container -->
</section><!-- / #ccr-main-section -->