<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">

      <div class="current-page">
        <a href="<%= Pathname(home_index_path) %>"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="<%= Pathname(home_news_path) %>">News <i class="fa fa-angle-double-right"></i></a> Swansea vs Spurs: Monk đang tìm kiếm phản hồi tích cực
      </div> <!-- / .current-page -->

      <article id="ccr-article">
        <h3><a class="active" >Swansea vs Spurs: Monk đang tìm kiếm phản hồi tích cực</a></h3>


        <img src="<%=  image_path('news/new3_1.jpg') %>" alt="1st Image" style="width:490px ;height:338px ">
        <div class="container">

        </div>

        <img src="<%=  image_path('news/new3_2.jpg') %>" alt="2nd Image">
        <p>
          HLV Swansea City Garry Monk đã tập hợp các cầu thủ của mình trước trận đấu hôm Chủ Nhật của Barclays Premier League với Tottenham Hotspur.</p>
        <p>Wales Club đã để thua 3-1 trước West Ham United, cuối tuần qua, sau khi Wilfried Bony đã phá vỡ thế bế tắc trước đợt tấn công của Andy Carroll và Diafra Sakho. Thất bại này đã khiến Swansea đã tụt hạng xuống vị trí thứ 16. Monk vẫn tỏ ra bình thản trước các số liệu thống kê, nhưng ông cũng thừa nhận màn trình diễn trên sân Boleyn Ground là tệ nhất trong tất cả các trận của Swansea. </p>
        <p>"Đây là lần đầu tiên mà chúng tôi đã không đạt được mục tiêu mà chúng tôi đã đặt ra trong mùa giải này," ông nói. "Chúng tôi cần phải nỗ lực hơn nữa vào cuối tuần này, hướng tới kết quả tích cực và nhanh chóng quên đi thất bại cuối tuần trước." </p>
        <p>Swansea đã dành được điểm trước Spurs, đã lâu không bị đánh bại họ kể từ chiến thắng thăng Barclays Premier League năm 2011 và mất đi vị trí thứ 5 năm ngoái. Monk từ chối làm khách hôm chủ nhật nhưng dự kiến sẽ là một cuộc đụng độ khó khăn ở sân vận động Liberty. </p>
        <p>"Họ không phải là một bên đối nghịch, họ thực sự là một đội bóng tốt," ông nói. "Chúng tôi biết nó sẽ là một trận đấu rất khó khăn. </p>
        <p>"Spurs có một đội bóng lớn và tài năng, vì vậy bất cứ đội hình nào ra sân đều rất chất lượng. Chúng tôi đang chờ đợi một bài kiểm tra khó khăn. Khi bạn chơi với bất kỳ bên nào có sức mạnh như vậy, nó sẽ rất khó khăn. </p>
        <p>"Chúng tôi đã từng có một số trận đấu tốt khi gặp họ trong quá khứ, đặc biệt là tại Liberty. Nó sẽ là một trận đấu giữa hai bên đều chơi tấn công và đấy mới thực sự là chơi bóng đẹp. Chúng tôi muốn có ba điểm, vì vậy hy vọng chủ nhật là ngày chúng tôi sẽ đánh bại họ. "</p>
        <p>Sẽ có 1 số khuôn mặt quen thuộc ở cả hai bên sau khi các hoạt động chuyển nhượng  giữa hai CLB kết thúc. Gylfi Sigurdsson chuyển từ bắc London  sang miền nam xứ Wales, trong khi Ben Davies, người đứng đầu bên đối thủ, bắt đầu lại với câu lạc bộ quê hương của mình, đã chia thành đội đầu tiên Mauricio Pochettino trong những tuần gần đây. </p>
        <p>Thủ môn Michel Vorm Spurs đã thất bại trong việc tiếp quản từ Hugo Lloris từ khi rời Swansea trong  suốt mùa giải, trong khi Tom Carroll, được cho mượn người của Monk, không đủ tư cách để đối mặt với câu lạc bộ ruột của mình. </p>
        <p>Spurs, giữ vị trí thứ 10 trên bảng, sẽ được quan tâm để phục hồi trở lại từ trận thua 1-0 trước Besiktas tại UEFA Europa League vào thứ Năm, nhưng có vẻ như sẽ thiếu vắng đi tiền đạo Emmanuel Adebayor, người đã được cấp phép trở về châu Phi để đối phó với một vấn đề cá nhân trong tuần này. </p>
        <p>Kyle Walker trở lại sau vụ treo giờ chín tháng để chơi 76 phút ở Thổ Nhĩ Kỳ và đánh dấu sự trở lại trên chuyến bay của mình vào chủ nhật, trong khi chấn thương bắp chân của Federico Fernandez vẫn là mối quan tâm hàng đầu của Swansea. </p>
        <p>Chủ sân sẽ chơi mà không có thủ môn Lukasz Fabianski, người bị đuổi khỏi sân ở West Ham cuối tuần trước, và Gerhard Tremmel là sự thay thế cần thiết để lấp đầy khoảng trống. </p>
        <p>Đội hình Swansea City : Cornell, Tremmel, Amat, Bartley, Fernandez, Kingsley, Rangel, Taylor, Tiendalli, Williams, Britton, Dyer, Fulton, Ki, Montero, Richards, Routledge, Sigurdsson, Sheehan, Shelvey, Barrow, Bony, Donnelly, Emnes, Gomis. </p>
        <p>Đội hình  Spurs : Friedel, Lloris, Vorm, Chiriches, Davies, Dier, Fazio, Kaboul, Naughton, Rose, Vertonghen, Walker, Bentaleb, Capoue, Ceballos, Chadli, Dembele, Eriksen, Lamela, Lennon, Mason, Paulinho, Stambouli , Townsend, Adebayor, Kane, Soldado. </p>
        
        </p>

      </article> <!-- /#ccr-single-post -->



    </section><!-- /.col-md-8 / #ccr-left-section -->



    <aside id="ccr-right-section" class="col-md-4">

      <section id="ccr-calender">

        <table id="calendar">
          <caption >LIVE!</caption>
          <thead data-iceapc="1">
          <tr>
            <th width="15%" title="Monday" scope="col">Pos</th>
            <th colspan="4" scope="col" title="Tuesday">Club</th>
            <th width="15%" title="Saturday" scope="col">Pld</th>
            <th width="15%" title="Sunday" scope="col">Pts</th>
          </tr>
          </thead>

          <tfoot data-iceapc="4">
          <tr data-iceapc="3">
            <td colspan="4" id="prev"><a href="<%= Pathname(home_leaguetable_path) %>" title="Previous">&laquo; Chi tiết</a></td>
            <td colspan="3" id="next" class="pad"><a href="<%= Pathname(home_form_path) %>" title="Next">Phong độ &raquo;</a></td>
          </tr>
          </tfoot>

          <tbody>
          <tr>
            <td>1 &#9679;</td><td colspan="4"><div align="center">Chelsea</div></td>
            <td>11</td>
            <td >29</td>
          </tr>
          <tr>
            <td>2 &#9679;</td><td colspan="4"><div align="center">Southampton</div></td>
            <td>11</td>
            <td >25</td>
          </tr>
          <tr>
            <td>3 &#9679;</td><td colspan="4"><div align="center">Man City</div></td>
            <td>11</td>
            <td >21</td>
          </tr>
          <tr>
            <td>4 &uarr;</td><td colspan="4"><div align="center">West Ham</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>5 &uarr;</td><td colspan="4"><div align="center">Swansea</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>6 &darr;</td><td colspan="4"><div align="center">Arsenal</div></td>
            <td>11</td>
            <td >17</td>
          </tr>
          <tr>
            <td>7 &uarr;</td><td colspan="4"><div align="center">Man Utd</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>8 &uarr;</td><td colspan="4"><div align="center">Newcastle</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>9 &uarr;</td><td colspan="4"><div align="center">Stoke</div></td>
            <td>11</td>
            <td >15</td>
          </tr>
          <tr>
            <td>10 &darr;</td><td colspan="4"><div align="center">Everton</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>11 &darr;</td><td colspan="4"><div align="center">Liverpool</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>12 &darr;</td><td colspan="4"><div align="center">Spurs</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>13 &darr;</td><td colspan="4"><div align="center">West Brom</div></td>
            <td>11</td>
            <td >13</td>
          </tr>
          <tr>
            <td>14 &uarr;</td><td colspan="4"><div align="center">Sunderland</div></td>
            <td>11</td>
            <td >12</td>
          </tr>
          <tr>
            <td>15 &darr;</td><td colspan="4"><div align="center">Hull</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>16 &#9679;</td><td colspan="4"><div align="center">Aston Villa</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>17 &#9679;</td><td colspan="4"><div align="center">Crystal Palace</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>18 &#9679;</td><td colspan="4"><div align="center">Leicester</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>19 &#9679;</td><td colspan="4"><div align="center">QPR</div></td>
            <td>11</td>
            <td >8</td>
          </tr>
          <tr>
            <td>20 &#9679;</td><td colspan="4"><div align="center">Burnley</div></td>
            <td>11</td>
            <td >7</td>
          </tr>
          </tbody>
        </table>

      </section>


    </aside><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->