<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">

      <div class="current-page">
        <a href="<%= Pathname(home_index_path) %>"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="<%= Pathname(home_news_path) %>">News <i class="fa fa-angle-double-right"></i></a> Sao Arsenal gây ấn tượng bởi các công tác xã hội của Arsenal Foundation
      </div> <!-- / .current-page -->

      <article id="ccr-article">
        <h3><a class="active" >Sao Arsenal gây ấn tượng bởi các công tác xã hội của Arsenal Foundation</a></h3>


        <img src="<%=  image_path('news/new4_1.jpg') %>" alt="1st Image" style="width:490px ;height:338px ">
        <div class="container">

        </div>

        <img src="<%=  image_path('news/new4_2.jpg') %>" alt="2nd Image">
        <p>
          Kể từ khi The Arsenal Foundation đã được đưa ra vào năm 2012, hơn 1 triệu bảng đã được cam kết tài trợ cho các dự án đạt trên 100.000 thanh niên ở Anh và ở nước ngoài và ngày sẽ có một số sự kiện gây quỹ khác, kể cả những người chụp ảnh mình trong Giáng sinh jumper.</p>
        <p>"Chúng tôi luôn luôn rất tự hào để hỗ trợ công việc của The Arsenal Foundation, giúp các bạn trẻ phát huy tiềm năng của mình và đạt được những điều tuyệt vời trong cuộc sống của họ", HLV Arsenal Arsene Wenger cho biết. "Đó là một truyền thống lớn đối với chúng tôi và chúng tôi hy vọng những người ủng hộ tham gia, chia sẻ những bức ảnh selfies nhảy Giáng sinh của họ." </p>
        <p>Một số cầu thủ trong đội đã nhận được một cái nhìn đầu tay như những gì tiền lương của họ sẽ đi theo hướng bằng cách truy cập các dự án mà Quỹ được tham gia vào. </p>
        <p>Hôm thứ Hai, phía trước Olivier Giroud và thủ thành David Ospina đã tới thăm trường St Mark tại Islington dẫn một chủ đề bóng đá cho các sinh viên trên sân mới 3G của nhà trường. Các sân đã được tân trang lại với sự hỗ trợ của Arsenal Foundation năm ngoái và là nhà của một số Arsenal trong các dự án cộng đồng. </p>
        <p>Buổi bóng đá cho trẻ em trai và trẻ em gái được tổ chức ở đó mỗi tuần, cùng với những bài học hockey thường xuyên, trong khi hai câu lạc bộ Arsenal - một chương trình bóng đá và giáo dục mà dạy một loạt các đối tượng kết hợp với huấn luyện bóng đá - cũng chạy kỳ nghỉ cuối tuần và các chương trình từ trường. </p>
        <p>Arsenal Foundation đã giúp nâng cấp qua các quận địa phương của Islington, Camden và Hackney từ năm 2008, với Arsenal trong buổi chạy Cộng đồng trên mỗi trang web. </p>
        <p>Tuần trước khi Alexis Sanchez và Santi Cazorla đã gia nhập lực lượng để mở một cơ sở nhà nước-of-the-nghệ thuật sức khỏe và phúc lợi cho những người trẻ vô gia cư ở Soho, với tài trợ của Arsenal Foundation. Việc nâng cấp đã cho Centrepoint, các tổ chức từ thiện hàng đầu trẻ vô gia cư, và nó tạo ra không gian bao gồm phòng mới tư vấn, phòng thu âm, hội trường chính, thiết bị nhà bếp cũng như các không gian văn phòng cho đội Centrepoint Y tế và An sinh. </p>
        <p>"Tôi không ở Chile Giáng sinh này để giúp đỡ người nghèo, nhưng năm nay, CLB đang giúp tôi giữ được truyền thống của việc cho và ngày nay là lần về điều đó", Sanchez nói. "Trung tâm này sẽ cung cấp cho mọi người một cơ hội tại một cuộc sống tốt hơn. Một cơ hội để có được trở lại trên đôi chân của mình mà là như một khởi đầu quan trọng trên hành trình cuộc sống." </p>



        </p>

      </article> <!-- /#ccr-single-post -->



    </section><!-- /.col-md-8 / #ccr-left-section -->



    <aside id="ccr-right-section" class="col-md-4">

      <section id="ccr-calender">

        <table id="calendar">
          <caption >LIVE!</caption>
          <thead data-iceapc="1">
          <tr>
            <th width="15%" title="Monday" scope="col">Pos</th>
            <th colspan="4" scope="col" title="Tuesday">Club</th>
            <th width="15%" title="Saturday" scope="col">Pld</th>
            <th width="15%" title="Sunday" scope="col">Pts</th>
          </tr>
          </thead>

          <tfoot data-iceapc="4">
          <tr data-iceapc="3">
            <td colspan="4" id="prev"><a href="<%= Pathname(home_leaguetable_path) %>" title="Previous">&laquo; Chi tiết</a></td>
            <td colspan="3" id="next" class="pad"><a href="<%= Pathname(home_form_path) %>" title="Next">Phong độ &raquo;</a></td>
          </tr>
          </tfoot>

          <tbody>
          <tr>
            <td>1 &#9679;</td><td colspan="4"><div align="center">Chelsea</div></td>
            <td>11</td>
            <td >29</td>
          </tr>
          <tr>
            <td>2 &#9679;</td><td colspan="4"><div align="center">Southampton</div></td>
            <td>11</td>
            <td >25</td>
          </tr>
          <tr>
            <td>3 &#9679;</td><td colspan="4"><div align="center">Man City</div></td>
            <td>11</td>
            <td >21</td>
          </tr>
          <tr>
            <td>4 &uarr;</td><td colspan="4"><div align="center">West Ham</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>5 &uarr;</td><td colspan="4"><div align="center">Swansea</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>6 &darr;</td><td colspan="4"><div align="center">Arsenal</div></td>
            <td>11</td>
            <td >17</td>
          </tr>
          <tr>
            <td>7 &uarr;</td><td colspan="4"><div align="center">Man Utd</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>8 &uarr;</td><td colspan="4"><div align="center">Newcastle</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>9 &uarr;</td><td colspan="4"><div align="center">Stoke</div></td>
            <td>11</td>
            <td >15</td>
          </tr>
          <tr>
            <td>10 &darr;</td><td colspan="4"><div align="center">Everton</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>11 &darr;</td><td colspan="4"><div align="center">Liverpool</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>12 &darr;</td><td colspan="4"><div align="center">Spurs</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>13 &darr;</td><td colspan="4"><div align="center">West Brom</div></td>
            <td>11</td>
            <td >13</td>
          </tr>
          <tr>
            <td>14 &uarr;</td><td colspan="4"><div align="center">Sunderland</div></td>
            <td>11</td>
            <td >12</td>
          </tr>
          <tr>
            <td>15 &darr;</td><td colspan="4"><div align="center">Hull</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>16 &#9679;</td><td colspan="4"><div align="center">Aston Villa</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>17 &#9679;</td><td colspan="4"><div align="center">Crystal Palace</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>18 &#9679;</td><td colspan="4"><div align="center">Leicester</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>19 &#9679;</td><td colspan="4"><div align="center">QPR</div></td>
            <td>11</td>
            <td >8</td>
          </tr>
          <tr>
            <td>20 &#9679;</td><td colspan="4"><div align="center">Burnley</div></td>
            <td>11</td>
            <td >7</td>
          </tr>
          </tbody>
        </table>

      </section>


    </aside><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->