<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">

      <div class="current-page">
        <a href="<%= Pathname(home_index_path) %>"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="<%= Pathname(home_news_path) %>">News <i class="fa fa-angle-double-right"></i></a> Bachchan: "BPL Live đã tạo nên 1 cuộc cách mạng cho bóng đá Ấn Độ"
      </div> <!-- / .current-page -->

      <article id="ccr-article">
        <h3><a class="active" >Bachchan: "BPL Live đã tạo nên 1 cuộc cách mạng cho bóng đá Ấn Độ"</a></h3>


        <img src="<%=  image_path('news/new5_1.jpg') %>" alt="1st Image" style="width:490px ;height:338px ">
        <div class="container">

        </div>

        <img src="<%=  image_path('news/new5_2.jpg') %>" alt="2nd Image">
        <p>
          "Đó là thông qua các sáng kiến như thế này mà Premier League đang thực sự sẽ làm nên một sự khác biệt rất lớn cho bóng đá ở Ấn Độ", Abhishek Bachchan, ngôi sao Bollywood nói, như BPL Live chuẩn bị để mở cửa đối với dân của Mumbai cho lần đầu tiên. "Chúng tôi đang trải qua một cuộc cách mạng bóng đá."</p>
        <p>"Đây là thời điểm rất thú vị cho bóng đá ở Ấn Độ" - Abhishek Bachchan</p>
        <p>Như nhiều như 12.000 người dự kiến sẽ tận dụng lợi thế của các entry tự do đến với Metropolitan Authority Mumbai Region Phát triển (MMRDA) Grounds, để tham dự BPL Live. Người hâm mộ đã giảm cho các chuyến bay hàng đầu tiếng Anh từ xa sẽ lấy mẫu một hương vị của nó như thế nào để xem Chelsea v Hull City và Leicester City v Manchester City với hàng ngàn người khác, với các trận đấu chiếu trên hai màn hình 380-sq-ft và tạm thời đứng để giữ những người ủng hộ. </p>
        <p>Bên cạnh những hành động phù hợp, bắt đầu từ 08:30 giờ địa phương, người hâm mộ có thể tham gia vào nhiều hoạt động bóng đá tương tác dàn dựng bởi chín Barclays Premier League câu lạc bộ những người đã gửi đại diện hơn. Họ cũng sẽ đáp ứng Legends Barclays Premier League như Robbie Fowler và Peter Schmeichel và có được một bức ảnh chụp của Barclays Premier League Trophy. </p>
        <p>Bachchan đã giúp khởi động sự kiện với một trận đấu bóng đá giữa đội bóng của ông về những người nổi tiếng, All Stars FC, và Barclays Premier League Legends, bao gồm Fowler, Emile Heskey và Lee Trundle. Họ cũng đã tham gia một bức ảnh của trẻ em từ các dự án ma thuật Bus, một chương trình được tài trợ bởi Premier League cho trẻ em nghèo ở Ấn Độ để nối xã hội và cải thiện chất lượng cuộc sống thông qua sức mạnh của thể thao. Những đứa trẻ ma thuật Bus cũng đã có một buổi huấn luyện với Fowler và Peter Reid, cựu HLV Manchester City và Sunderland. </p>
        <p>"Thật là một niềm vui và những gì một giấc mơ đối với một số chàng trai của tôi để có được cơ hội để chơi với những truyền thuyết tuyệt đối," Bachchan, người bắt đầu sau BPL vào năm 1993 và là một fan hâm mộ trung thành của Chelsea cho biết. "Chỉ cần để có thể chơi với một số những người này là hoàn toàn rực rỡ. Đó là một cái gì đó chúng tôi rất vui mừng về." </p>



        </p>

      </article> <!-- /#ccr-single-post -->



    </section><!-- /.col-md-8 / #ccr-left-section -->



    <aside id="ccr-right-section" class="col-md-4">

      <section id="ccr-calender">

        <table id="calendar">
          <caption >LIVE!</caption>
          <thead data-iceapc="1">
          <tr>
            <th width="15%" title="Monday" scope="col">Pos</th>
            <th colspan="4" scope="col" title="Tuesday">Club</th>
            <th width="15%" title="Saturday" scope="col">Pld</th>
            <th width="15%" title="Sunday" scope="col">Pts</th>
          </tr>
          </thead>

          <tfoot data-iceapc="4">
          <tr data-iceapc="3">
            <td colspan="4" id="prev"><a href="<%= Pathname(home_leaguetable_path) %>" title="Previous">&laquo; Chi tiết</a></td>
            <td colspan="3" id="next" class="pad"><a href="<%= Pathname(home_form_path) %>" title="Next">Phong độ &raquo;</a></td>
          </tr>
          </tfoot>

          <tbody>
          <tr>
            <td>1 &#9679;</td><td colspan="4"><div align="center">Chelsea</div></td>
            <td>11</td>
            <td >29</td>
          </tr>
          <tr>
            <td>2 &#9679;</td><td colspan="4"><div align="center">Southampton</div></td>
            <td>11</td>
            <td >25</td>
          </tr>
          <tr>
            <td>3 &#9679;</td><td colspan="4"><div align="center">Man City</div></td>
            <td>11</td>
            <td >21</td>
          </tr>
          <tr>
            <td>4 &uarr;</td><td colspan="4"><div align="center">West Ham</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>5 &uarr;</td><td colspan="4"><div align="center">Swansea</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>6 &darr;</td><td colspan="4"><div align="center">Arsenal</div></td>
            <td>11</td>
            <td >17</td>
          </tr>
          <tr>
            <td>7 &uarr;</td><td colspan="4"><div align="center">Man Utd</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>8 &uarr;</td><td colspan="4"><div align="center">Newcastle</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>9 &uarr;</td><td colspan="4"><div align="center">Stoke</div></td>
            <td>11</td>
            <td >15</td>
          </tr>
          <tr>
            <td>10 &darr;</td><td colspan="4"><div align="center">Everton</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>11 &darr;</td><td colspan="4"><div align="center">Liverpool</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>12 &darr;</td><td colspan="4"><div align="center">Spurs</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>13 &darr;</td><td colspan="4"><div align="center">West Brom</div></td>
            <td>11</td>
            <td >13</td>
          </tr>
          <tr>
            <td>14 &uarr;</td><td colspan="4"><div align="center">Sunderland</div></td>
            <td>11</td>
            <td >12</td>
          </tr>
          <tr>
            <td>15 &darr;</td><td colspan="4"><div align="center">Hull</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>16 &#9679;</td><td colspan="4"><div align="center">Aston Villa</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>17 &#9679;</td><td colspan="4"><div align="center">Crystal Palace</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>18 &#9679;</td><td colspan="4"><div align="center">Leicester</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>19 &#9679;</td><td colspan="4"><div align="center">QPR</div></td>
            <td>11</td>
            <td >8</td>
          </tr>
          <tr>
            <td>20 &#9679;</td><td colspan="4"><div align="center">Burnley</div></td>
            <td>11</td>
            <td >7</td>
          </tr>
          </tbody>
        </table>

      </section>


    </aside><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->