<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">

      <div class="current-page">
        <a href="<%= Pathname(home_index_path) %>"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="<%= Pathname(home_news_path) %>">News <i class="fa fa-angle-double-right"></i></a> Man Utd hy vọng Van Persie có thể đánh bại Liverpool một lần nữa
      </div> <!-- / .current-page -->

      <article id="ccr-article">
        <h3><a class="active" >Man Utd hy vọng Van Persie có thể đánh bại Liverpool một lần nữa</a></h3>


        <img src="<%=  image_path('news/new6_1.jpg') %>" alt="1st Image" style="width:490px ;height:338px ">
        <div class="container">

        </div>

        <img src="<%=  image_path('news/new6_2.jpg') %>" alt="2nd Image">
        <p>
          Robin van Persie đã rất thành công cá nhân với Liverpool tại Premier League và Manchester United sẽ được hy vọng ông có thể tiếp tục xu hướng trong trận đấu hôm chủ nhật tại Old Trafford.</p>
        <p>Liverpool đã làm tăng gấp đôi so với Kỳ hạn cuối cùng, nhưng trong các chiến dịch trước đó Van Persie đã về mục tiêu trong 2-1 nhà và đã giành chiến thắng trong mùa giải cuối cùng Sir Alex Ferguson của phụ trách. </p>
        <p>Đó là một câu chuyện tương tự khi người Hà Lan đã ở Arsenal, Van Persie nhận được cả hai mục tiêu khi các Pháo thủ đến từ phía sau để giành chiến thắng 2-1 tại Anfield tháng 3 năm 2012, trong đó có một người chiến thắng ở phút cuối cùng. </p>
        <p>Có một cuộc tấn công phạt vào cuối mùa giải trước trận hòa 1-1 tại sân Emirates, trong khi ông cũng nhấn vào lưới trong một tỉ số giống hệt nhau có trở lại trong tháng 12 năm 2008 - làm cho nó sáu bàn thắng trong tám bắt đầu cuối cùng của ông chống lại Liverpool trong Barclays Premier League. </p>
        <p>31 tuổi đã đến trong những lời chỉ trích từ người quản lý của anh, Louis van Gaal, mùa này, nhưng một cuộc tấn công tuyệt đẹp trong trận thua cuối cùng của tháng 3-0 của Hull City tại Old Trafford đã ám chỉ một Xu hướng tăng hình thức. </p>
        <p>Đêm thứ hai của đôi trong chiến thắng 2-1 trước Southampton cung cấp thêm bằng chứng rằng Van Persie đang đóng cửa ở trên cảm ứng lâm sàng khiến ông trở thành cầu thủ ghi bàn hàng đầu tại Premier League ở mùa giải đầu tiên của mình tại Old Trafford, khi anh có 26 bàn thắng trong năm 2012 / 13. </p>
        <p>"Họ đã kết thúc rực rỡ từ Robin," Hoa đồng đội Ashley Young cho www.manutd.com. "Việc đầu tiên là rõ ràng là một món quà [sau một backpass nghèo từ Jose Fonte] nhưng ông vẫn phải kết thúc nó đi. </p>
        <p>"Người thứ hai là một trong những mục tiêu của những tay săn trộm, nơi ông đã làm việc xoay quanh các bài trở lại và nhận được vào cuối Wazza của tự do đá [Wayne Rooney của]. Ông quản lý để làm điều đó và chúng tôi chỉ là vui mừng để có được ba điểm để đưa chúng ta vào trận đấu tiếp theo. "</p>
        <p>Van Gaal vẫn có những lời phê bình cho đội ngũ thực hiện của mình, bất chấp sự thành công tại sân vận động St Mary, nhưng Young nhấn mạnh tinh thần rất cao trong phòng thay đồ sau năm trận thắng liên tiếp đã đưa United lên vị trí thứ ba trong bảng xếp hạng Premier League, bảy điểm rõ ràng của đối thủ cuối tuần này, những người trong chín. </p>
        <p>"Đó là khó khăn [chống lại Southampton]", Young nói. "Chúng tôi đã không chơi cũng như chúng ta có thể có trong nửa đầu và đã may mắn để đi một mục tiêu phía trước. </p>
        <p>"Tôi không quá chắc chắn tại sao lại, nhưng trong nửa thứ hai, chúng ta đi ra và chơi một thứ bóng đá tốt. Rõ ràng, chúng tôi đã nhận được mục tiêu và phải bảo vệ tốt một lần nữa. Tôi rất vui vì chúng tôi tổ chức vào và có những điểm bởi vì họ là ba điểm lớn đối với chúng tôi. Giống như các nhà quản lý đã cho biết, các lực đang được bây giờ. </p>
        <p>"Chúng tôi muốn có được chiến thắng khác và biết nó sẽ là một nơi khó khăn để đi ra khỏi nhà sau khi người cuối cùng chống lại Arsenal. </p>
        <p>"Chúng tôi biết chúng tôi muốn một chiến thắng trên đường và chúng tôi quản lý để làm điều đó -.. Mặc dù nó không phải là dễ dàng cả Chúng tôi rất vui mừng với ba điểm và mong muốn các trò chơi vào cuối tuần bây giờ"</p>
        <p>United sẽ tìm kiếm chiến thắng liên tiếp thứ sáu của họ khi họ phải đối mặt khốc liệt đối thủ Liverpool lúc 13:30 BST vào ngày Chủ nhật. </p>





        </p>

      </article> <!-- /#ccr-single-post -->



    </section><!-- /.col-md-8 / #ccr-left-section -->



    <aside id="ccr-right-section" class="col-md-4">

      <section id="ccr-calender">

        <table id="calendar">
          <caption >LIVE!</caption>
          <thead data-iceapc="1">
          <tr>
            <th width="15%" title="Monday" scope="col">Pos</th>
            <th colspan="4" scope="col" title="Tuesday">Club</th>
            <th width="15%" title="Saturday" scope="col">Pld</th>
            <th width="15%" title="Sunday" scope="col">Pts</th>
          </tr>
          </thead>

          <tfoot data-iceapc="4">
          <tr data-iceapc="3">
            <td colspan="4" id="prev"><a href="<%= Pathname(home_leaguetable_path) %>" title="Previous">&laquo; Chi tiết</a></td>
            <td colspan="3" id="next" class="pad"><a href="<%= Pathname(home_form_path) %>" title="Next">Phong độ &raquo;</a></td>
          </tr>
          </tfoot>

          <tbody>
          <tr>
            <td>1 &#9679;</td><td colspan="4"><div align="center">Chelsea</div></td>
            <td>11</td>
            <td >29</td>
          </tr>
          <tr>
            <td>2 &#9679;</td><td colspan="4"><div align="center">Southampton</div></td>
            <td>11</td>
            <td >25</td>
          </tr>
          <tr>
            <td>3 &#9679;</td><td colspan="4"><div align="center">Man City</div></td>
            <td>11</td>
            <td >21</td>
          </tr>
          <tr>
            <td>4 &uarr;</td><td colspan="4"><div align="center">West Ham</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>5 &uarr;</td><td colspan="4"><div align="center">Swansea</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>6 &darr;</td><td colspan="4"><div align="center">Arsenal</div></td>
            <td>11</td>
            <td >17</td>
          </tr>
          <tr>
            <td>7 &uarr;</td><td colspan="4"><div align="center">Man Utd</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>8 &uarr;</td><td colspan="4"><div align="center">Newcastle</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>9 &uarr;</td><td colspan="4"><div align="center">Stoke</div></td>
            <td>11</td>
            <td >15</td>
          </tr>
          <tr>
            <td>10 &darr;</td><td colspan="4"><div align="center">Everton</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>11 &darr;</td><td colspan="4"><div align="center">Liverpool</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>12 &darr;</td><td colspan="4"><div align="center">Spurs</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>13 &darr;</td><td colspan="4"><div align="center">West Brom</div></td>
            <td>11</td>
            <td >13</td>
          </tr>
          <tr>
            <td>14 &uarr;</td><td colspan="4"><div align="center">Sunderland</div></td>
            <td>11</td>
            <td >12</td>
          </tr>
          <tr>
            <td>15 &darr;</td><td colspan="4"><div align="center">Hull</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>16 &#9679;</td><td colspan="4"><div align="center">Aston Villa</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>17 &#9679;</td><td colspan="4"><div align="center">Crystal Palace</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>18 &#9679;</td><td colspan="4"><div align="center">Leicester</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>19 &#9679;</td><td colspan="4"><div align="center">QPR</div></td>
            <td>11</td>
            <td >8</td>
          </tr>
          <tr>
            <td>20 &#9679;</td><td colspan="4"><div align="center">Burnley</div></td>
            <td>11</td>
            <td >7</td>
          </tr>
          </tbody>
        </table>

      </section>


    </aside><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->