<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">

      <div class="current-page">
        <a href="<%= Pathname(home_index_path) %>"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="<%= Pathname(home_news_path) %>">News <i class="fa fa-angle-double-right"></i></a> Man Utd gặp Liverpool: Van Gaal gợi ý về sự trở lại của Falcao
      </div> <!-- / .current-page -->

      <article id="ccr-article">
        <h3><a class="active" >Man Utd gặp Liverpool: Van Gaal gợi ý về sự trở lại của Falcao</a></h3>


        <img src="<%=  image_path('news/new7_1.jpg') %>" alt="1st Image" style="width:490px ;height:338px ">
        <div class="container">

        </div>

        <img src="<%=  image_path('news/new7_2.jpg') %>" alt="2nd Image">
        <p>
        <p>Louis van Gaal sẽ dựa vào trợ lý của ông Ryan Giggs để động viên đội Manchester United của ông cho Barclays Premier League trận đấu hôm Chủ Nhật với Liverpool.
        <p>Người Hà Lan sẽ có được hương vị đầu tiên của ông về trận đấu này tại Old Trafford nhưng tiết lộ trợ lý của ông đã để lại cho anh và Hoa mới đến khác trong không có nghi ngờ về tầm quan trọng của trò chơi này. Trong hơn 20 năm như là một cầu thủ của United, Giggs đã đóng một phần không thể thiếu trong việc giúp Sir Alex Ferguson để thay thế đối thủ cuối tuần này ở đầu của bóng đá Anh.</p>
        <p>"Tôi có một trợ lý trong Ryan Giggs và ông đã trình bày một phân tích của Liverpool và ông đã làm nó trong một cách kỳ diệu, vì vậy tôi rất hài lòng", Van Gaal nói. </p>
        <p>United bảy điểm và sáu chữ trên Liverpool và sẽ tìm kiếm một chiến thắng liên tiếp thứ sáu trong mùa giải này nhưng đề nghị Hậu vệ Jonny Evans đã bác bỏ nhóm của ông được yêu thích của công ty để áp dụng. Liverpool đã thất bại trong việc đạt được những đỉnh cao của mùa giải trước, trong đó có một chiến thắng 3-0 nhấn mạnh tại Old Trafford tháng ba, nhưng Evans vẫn hy vọng một bài kiểm tra căng thẳng. </p>
        <p>"Chúng tôi đang ở trong một chút của dạng về kết quả và Liverpool không phải là tất cả nhưng hình thức đi ra ngoài cửa sổ trong các trò chơi và bất cứ điều gì có thể xảy ra", Evans, người là phù hợp một lần nữa để chơi, phát biểu trên MUTV. "Tôi đã không nhìn thấy nhiều trò chơi của họ trong mùa giải này, nhưng tôi xem một chút của một trong Champions League đêm khác với Basel. </p>
        <p>"Rõ ràng, họ sống dưới một chút wee áp lực để có được một kết quả lớn mà họ đã không nhận được cuối cùng. Luis Suarez đã đi và có lẽ họ không mạnh, nhưng họ vẫn còn có một số cầu thủ tuyệt vời, người có thể vẫn tạo ra phép thuật trên sân cỏ và đó là điều mà chúng tôi sẽ phải cẩn thận về. "</p>
        <p>Evans trở lại từ chấn thương để có mặt trong đêm thứ hai của 2-1 thành công tại Southampton và hy vọng sẽ có một cảm ứng sắc nét hơn vào cuối tuần này sau đó đi chơi đầu tiên kể từ tháng Chín. </p>
        <p>"Tôi đã không bắt đầu trò chơi, nhưng tôi đã vào sau 15 phút, vì vậy nó là tốt để có được một chạy ra ngoài và đó là một trận đấu khó khăn là tốt," ông nói. "Nó rất có nhịp độ nhanh và tôi cảm thấy rằng trong 10 phút đầu tiên. Nó đã được một thời gian bực bội cho tôi với những vết thương vì vậy nó là tốt đẹp để có được trở lại tham gia." </p>
        <p>United sẽ không có Angel Di Maria, Luke Shaw, Chris Smalling và Daley Blind vì chấn thương, nhưng Phil Jones và Rafael có sẵn một lần nữa và Van Gaal nói bóng gió rằng Radamel Falcao có thể trở lại hoạt động sau khi được một người thay thế không sử dụng tại sân vận động St Mary. </p>
        <p>Liverpool phải hồi trở lại từ cuối tuần trước 0-0 bế tắc trên sân nhà trước Sunderland và thoát thứ ba của UEFA Champions League sau trận hòa 1-1 với Basel. Brendan Rodgers nhận các đối mặt với United luôn là một trong những trò chơi thưởng thức nhất của mùa giải cho những người ủng hộ của Liverpool. </p>
        <p>"Đó là một trận đấu rất quan trọng - nó luôn luôn là," HLV Liverpool tuyên bố. "Đó là một trận đấu lớn trong lịch thi đấu cho đất nước này. </p>
        <p>"Chúng tôi có một hiệu suất và kết quả mùa giải cuối cùng xuất sắc và nếu chúng ta có thể tái tạo mà chúng tôi sẽ rất hạnh phúc." </p>
        <p>Liverpool vẫn không có tiền đạo Daniel Sturridge bị thương nhưng Rodgers báo rằng Adam Lallana là trong hình dạng tốt sau khi một vấn đề xương sườn và Mario Balotelli có thể trở lại từ chấn thương háng. </p>
        <p>"Anh ấy đã ra một lúc, nhưng trong mấy ngày vừa qua anh ấy nhìn tốt trong đào tạo, vì vậy chúng tôi sẽ cung cấp cho anh mọi cơ hội để trở thành đội hình," Rodgers nói của Balotelli. </p>
        <p>Đội hình Manchester United (dự kiến): Amos, De Gea, Johnstone, Lindegaard, Blackett, Evans, Jones, McNair, Rafael, Rojo, Vermijl, Anderson, Carrick, Fellaini, Fletcher, Herrera, James, Januzaj, Lingard, Mata, Valencia, Young , Falcao, W Keane, Rooney, Van Persie, Wilson. </p>
        <p>Đội hình Liverpool (dự kiến): Jones, Mignolet, Johnson, Jose Enrique, Lovren, Manquillo, Moreno, Sakho, Skrtel, Toure, Allen, Can, Coutinho, Gerrard, Henderson, Lallana, Lucas, Markovic, Balotelli, Borini, Lambert, Sterling. </p>


        </p>

      </article> <!-- /#ccr-single-post -->



    </section><!-- /.col-md-8 / #ccr-left-section -->



    <aside id="ccr-right-section" class="col-md-4">

      <section id="ccr-calender">

        <table id="calendar">
          <caption >LIVE!</caption>
          <thead data-iceapc="1">
          <tr>
            <th width="15%" title="Monday" scope="col">Pos</th>
            <th colspan="4" scope="col" title="Tuesday">Club</th>
            <th width="15%" title="Saturday" scope="col">Pld</th>
            <th width="15%" title="Sunday" scope="col">Pts</th>
          </tr>
          </thead>

          <tfoot data-iceapc="4">
          <tr data-iceapc="3">
            <td colspan="4" id="prev"><a href="<%= Pathname(home_leaguetable_path) %>" title="Previous">&laquo; Chi tiết</a></td>
            <td colspan="3" id="next" class="pad"><a href="<%= Pathname(home_form_path) %>" title="Next">Phong độ &raquo;</a></td>
          </tr>
          </tfoot>

          <tbody>
          <tr>
            <td>1 &#9679;</td><td colspan="4"><div align="center">Chelsea</div></td>
            <td>11</td>
            <td >29</td>
          </tr>
          <tr>
            <td>2 &#9679;</td><td colspan="4"><div align="center">Southampton</div></td>
            <td>11</td>
            <td >25</td>
          </tr>
          <tr>
            <td>3 &#9679;</td><td colspan="4"><div align="center">Man City</div></td>
            <td>11</td>
            <td >21</td>
          </tr>
          <tr>
            <td>4 &uarr;</td><td colspan="4"><div align="center">West Ham</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>5 &uarr;</td><td colspan="4"><div align="center">Swansea</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>6 &darr;</td><td colspan="4"><div align="center">Arsenal</div></td>
            <td>11</td>
            <td >17</td>
          </tr>
          <tr>
            <td>7 &uarr;</td><td colspan="4"><div align="center">Man Utd</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>8 &uarr;</td><td colspan="4"><div align="center">Newcastle</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>9 &uarr;</td><td colspan="4"><div align="center">Stoke</div></td>
            <td>11</td>
            <td >15</td>
          </tr>
          <tr>
            <td>10 &darr;</td><td colspan="4"><div align="center">Everton</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>11 &darr;</td><td colspan="4"><div align="center">Liverpool</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>12 &darr;</td><td colspan="4"><div align="center">Spurs</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>13 &darr;</td><td colspan="4"><div align="center">West Brom</div></td>
            <td>11</td>
            <td >13</td>
          </tr>
          <tr>
            <td>14 &uarr;</td><td colspan="4"><div align="center">Sunderland</div></td>
            <td>11</td>
            <td >12</td>
          </tr>
          <tr>
            <td>15 &darr;</td><td colspan="4"><div align="center">Hull</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>16 &#9679;</td><td colspan="4"><div align="center">Aston Villa</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>17 &#9679;</td><td colspan="4"><div align="center">Crystal Palace</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>18 &#9679;</td><td colspan="4"><div align="center">Leicester</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>19 &#9679;</td><td colspan="4"><div align="center">QPR</div></td>
            <td>11</td>
            <td >8</td>
          </tr>
          <tr>
            <td>20 &#9679;</td><td colspan="4"><div align="center">Burnley</div></td>
            <td>11</td>
            <td >7</td>
          </tr>
          </tbody>
        </table>

      </section>


    </aside><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->