<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">

      <div class="current-page">
        <a href="<%= Pathname(home_index_path) %>"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="<%= Pathname(home_news_path) %>">News <i class="fa fa-angle-double-right"></i></a> Arsenal chạm trán Newcastle: Wenger giáng một đòn xuống Ramsey
      </div> <!-- / .current-page -->

      <article id="ccr-article">
        <h3><a class="active" >Arsenal chạm trán Newcastle: Wenger giáng một đòn xuống Ramsey</a></h3>


        <img src="<%=  image_path('news/new8_1.jpg') %>" alt="1st Image" style="width:490px ;height:338px ">
        <div class="container">

        </div>

        <img src="<%=  image_path('news/new8_2.jpg') %>" alt="2nd Image">
        <p>
          Arsenal sẽ không có Aaron Ramsey cho Barclays Premier League trận đấu với Newcastle United hôm thứ Bảy tại sân Emirates.</p>
        <p>Tiền vệ - người ghi hai bàn trong chiến thắng 4-1 hôm thứ Ba qua Galatasaray tại UEFA Champions League, đang vật lộn với chấn thương gân kheo, và cặp đôi thủ của Nacho Monreal (mắt cá chân) và Laurent Koscielny (bắp chân) cũng được loại trừ. Trong khi Kieran Gibbs và Mathieu Flamini có sẵn và Francis Coquelin đã bị thu hồi từ một hợp đồng cho mượn ở Charlton Athletic, Wenger đã làm thất vọng của thiếu tiền vệ xứ Wales rõ ràng. </p>
        <p>"Đó là một sự xấu hổ bởi vì ông đã nhận được gần phù hợp với hình thức của mùa giải trước," Wenger nói của Ramsey. </p>
        <p>Arsenal đón Newcastle tìm cách để có được trở lại theo dõi trong Barclays Premier League sau khi một nửa đầu tiên người nghèo tại sân vận động Britannia cuối tuần trước đã giúp họ đi xuống 3-2 cho Stoke City. Với Newcastle trong hình thức phạt tiền sau khi kết thúc sự khởi đầu bất bại của Chelsea với chiến dịch vào ngày thứ Bảy, Wenger thừa nhận những khó khăn bên cạnh anh có thể sẽ phải đối mặt. </p>
        <p>"Họ đang làm tốt và đang ngày một chạy tốt vì vậy nó sẽ là một thử thách tốt cho chúng tôi", Wenger nói. "Nói chung, chúng tôi đang ở trên một xu hướng tốt. </p>
        <p>"[Pardew và tôi] đã có một vấn đề một lần nhưng chúng ta sắp xếp nó ra. Ông đã làm rất tốt bởi vì ông đã trải qua một bản vá khó khăn. Society muốn giành chiến thắng trong trận đấu tiếp theo và đó là một tòa lâu dài cho tất cả mọi người. Pardew đã làm được một công việc tuyệt vời . mùa này chúng tôi thống nhất cho một mục tiêu: để làm tốt cho các câu lạc bộ chúng ta yêu thương và đó là những gì chúng ta muốn đạt được ".</p>
        <p>Một đường của 19 điểm từ 24 cho phép có thể một Newcastle để đi du lịch đến Arsenal, một câu lạc bộ đối với người mà họ đã phải vất vả về muộn, tinh thần tốt. Thủ môn Jak Alnwick, 21 tuổi, sẽ làm cho đầu cao cấp đầu tiên của mình cho câu lạc bộ. Thủ môn Tim Krul Fellow và Rob Elliott, người Alnwick thay, cả hai đều vắng mặt chấn thương cùng với Rolando Aarons và Davide Santon, trong khi Steven Taylor và Moussa Sissoko lỡ bị treo giò. </p>
        <p>Pardew ca ngợi công việc được thực hiện bởi số lượng đối diện Wenger, và hy vọng một sự thử nghiệm khó khăn ở phía bắc London. </p>
        <p>"Arsene Wenger đã làm một công việc không thể tin vào Arsenal và trong một số cách sân vận động của họ nên được đặt tên ông," ông nói. "Arsenal đã không có đất dụng võ cho chúng tôi trong những năm gần đây. Các trò chơi tại St James 'Park đã được chặt chẽ và chúng tôi hy vọng điều này là quá. </p>
        <p>"Sẽ không có Rolando Aarons hay Davide Santon. Chúng tôi đang có khá nhiều nơi chúng tôi đã cho Chelsea về thương tích." </p>
        <p>Đội hình Arsenal (dự kiến): Martinez, Ospina, Szczesny, Debuchy, Gibbs, Mertesacker, Monreal, Cazorla, Coquelin, Flamini, Oxlade-Chamberlain, Rosicky, Sanchez, Campbell, Giroud, Podolski, Sanogo, Walcott, Welbeck. </p>
        <p>Đội hình Newcastle United (dự kiến): Alnwick, Dummett, Haidara, JANMAAT, Streete, Williamson, Abeid, Anita, Bigirimana, Cabella, Colback, Coloccini, Tiote, Vuckic, Ameobi, Armstrong, Cisse, Ferreyra, Gouffran, Perez, Riviere. </p>


        </p>

      </article> <!-- /#ccr-single-post -->



    </section><!-- /.col-md-8 / #ccr-left-section -->



    <aside id="ccr-right-section" class="col-md-4">

      <section id="ccr-calender">

        <table id="calendar">
          <caption >LIVE!</caption>
          <thead data-iceapc="1">
          <tr>
            <th width="15%" title="Monday" scope="col">Pos</th>
            <th colspan="4" scope="col" title="Tuesday">Club</th>
            <th width="15%" title="Saturday" scope="col">Pld</th>
            <th width="15%" title="Sunday" scope="col">Pts</th>
          </tr>
          </thead>

          <tfoot data-iceapc="4">
          <tr data-iceapc="3">
            <td colspan="4" id="prev"><a href="<%= Pathname(home_leaguetable_path) %>" title="Previous">&laquo; Chi tiết</a></td>
            <td colspan="3" id="next" class="pad"><a href="<%= Pathname(home_form_path) %>" title="Next">Phong độ &raquo;</a></td>
          </tr>
          </tfoot>

          <tbody>
          <tr>
            <td>1 &#9679;</td><td colspan="4"><div align="center">Chelsea</div></td>
            <td>11</td>
            <td >29</td>
          </tr>
          <tr>
            <td>2 &#9679;</td><td colspan="4"><div align="center">Southampton</div></td>
            <td>11</td>
            <td >25</td>
          </tr>
          <tr>
            <td>3 &#9679;</td><td colspan="4"><div align="center">Man City</div></td>
            <td>11</td>
            <td >21</td>
          </tr>
          <tr>
            <td>4 &uarr;</td><td colspan="4"><div align="center">West Ham</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>5 &uarr;</td><td colspan="4"><div align="center">Swansea</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>6 &darr;</td><td colspan="4"><div align="center">Arsenal</div></td>
            <td>11</td>
            <td >17</td>
          </tr>
          <tr>
            <td>7 &uarr;</td><td colspan="4"><div align="center">Man Utd</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>8 &uarr;</td><td colspan="4"><div align="center">Newcastle</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>9 &uarr;</td><td colspan="4"><div align="center">Stoke</div></td>
            <td>11</td>
            <td >15</td>
          </tr>
          <tr>
            <td>10 &darr;</td><td colspan="4"><div align="center">Everton</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>11 &darr;</td><td colspan="4"><div align="center">Liverpool</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>12 &darr;</td><td colspan="4"><div align="center">Spurs</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>13 &darr;</td><td colspan="4"><div align="center">West Brom</div></td>
            <td>11</td>
            <td >13</td>
          </tr>
          <tr>
            <td>14 &uarr;</td><td colspan="4"><div align="center">Sunderland</div></td>
            <td>11</td>
            <td >12</td>
          </tr>
          <tr>
            <td>15 &darr;</td><td colspan="4"><div align="center">Hull</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>16 &#9679;</td><td colspan="4"><div align="center">Aston Villa</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>17 &#9679;</td><td colspan="4"><div align="center">Crystal Palace</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>18 &#9679;</td><td colspan="4"><div align="center">Leicester</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>19 &#9679;</td><td colspan="4"><div align="center">QPR</div></td>
            <td>11</td>
            <td >8</td>
          </tr>
          <tr>
            <td>20 &#9679;</td><td colspan="4"><div align="center">Burnley</div></td>
            <td>11</td>
            <td >7</td>
          </tr>
          </tbody>
        </table>

      </section>


    </aside><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->