<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">

      <div class="current-page">
        <a href="<%= Pathname(home_index_path) %>"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="<%= Pathname(home_news_path) %>">News <i class="fa fa-angle-double-right"></i></a> Mourinho: Costa đã sẵn sàng giành điểm ở lần trở lại tới
      </div> <!-- / .current-page -->

      <article id="ccr-article">
        <h3><a class="active" >Mourinho: Costa đã sẵn sàng giành điểm ở lần trở lại tới</a></h3>


        <img src="<%=  image_path('news/new9_1.jpg') %>" alt="1st Image" style="width:490px ;height:338px ">
        <div class="container">

        </div>

        <img src="<%=  image_path('news/new9_2.jpg') %>" alt="2nd Image">
        <p>
          HLV Chelsea Jose Mourinho tin rằng nỗ lực của Diego Costa hồi giữa tuần sẽ giúp đỡ để đưa anh trở lại trong những mục tiêu trước chuyến thăm của Hull City hôm thứ Bảy.</p>
        <p>Tiền đạo Chelsea đã không ghi bàn trong bốn trận đấu trong quá khứ của mình, bao gồm cả 90 phút hôm thứ Tư khi Chelsea đánh bại Sporting Lisbon 3-1 ở UEFA Champions League. Mục tiêu mới nhất của ông, thứ 11 của mình tại Premier League, đến với West Bromwich Albion vào ngày 22 tháng Mười Một. </p>
        <p>Nhưng Mourinho hài lòng với những đóng góp 26 tuổi tại Stamford Bridge như các tiền đạo Tây Ban Nha tìm cách quay trở lại phòng tập thể dục cao điểm và hình thức sau chấn thương gân kheo dai dẳng khó khăn trong mùa giải này. </p>
        <p>"Tôi thấy Diego tốt hơn so với trước Newcastle, tốt hơn so với Sunderland trò chơi này [với Sporting] là quan trọng đối với anh ấy." - Jose Mourinho</p>
        <p>"Ông muốn cải thiện tình trạng của anh," Mourinho nói. "Sự tự tin là không cao, tình trạng này không phải là tốt nhất, nhưng ông muốn sử dụng các trò chơi [chống lại Sporting] để đuổi theo rất nhiều các pha chạy và các phong trào, luôn muốn bóng, luôn muốn kết hợp với các cầu thủ chạy cánh và với [Cesc] Fabregas . </p>
        <p>"Điều này rất quan trọng đối với anh ta. Tôi thấy anh ta tốt hơn so với Newcastle, tốt hơn so với Sunderland. Trận đấu này là quan trọng đối với anh ta." </p>

        </p>

      </article> <!-- /#ccr-single-post -->



    </section><!-- /.col-md-8 / #ccr-left-section -->



    <aside id="ccr-right-section" class="col-md-4">

      <section id="ccr-calender">

        <table id="calendar">
          <caption >LIVE!</caption>
          <thead data-iceapc="1">
          <tr>
            <th width="15%" title="Monday" scope="col">Pos</th>
            <th colspan="4" scope="col" title="Tuesday">Club</th>
            <th width="15%" title="Saturday" scope="col">Pld</th>
            <th width="15%" title="Sunday" scope="col">Pts</th>
          </tr>
          </thead>

          <tfoot data-iceapc="4">
          <tr data-iceapc="3">
            <td colspan="4" id="prev"><a href="<%= Pathname(home_leaguetable_path) %>" title="Previous">&laquo; Chi tiết</a></td>
            <td colspan="3" id="next" class="pad"><a href="<%= Pathname(home_form_path) %>" title="Next">Phong độ &raquo;</a></td>
          </tr>
          </tfoot>

          <tbody>
          <tr>
            <td>1 &#9679;</td><td colspan="4"><div align="center">Chelsea</div></td>
            <td>11</td>
            <td >29</td>
          </tr>
          <tr>
            <td>2 &#9679;</td><td colspan="4"><div align="center">Southampton</div></td>
            <td>11</td>
            <td >25</td>
          </tr>
          <tr>
            <td>3 &#9679;</td><td colspan="4"><div align="center">Man City</div></td>
            <td>11</td>
            <td >21</td>
          </tr>
          <tr>
            <td>4 &uarr;</td><td colspan="4"><div align="center">West Ham</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>5 &uarr;</td><td colspan="4"><div align="center">Swansea</div></td>
            <td>11</td>
            <td >18</td>
          </tr>
          <tr>
            <td>6 &darr;</td><td colspan="4"><div align="center">Arsenal</div></td>
            <td>11</td>
            <td >17</td>
          </tr>
          <tr>
            <td>7 &uarr;</td><td colspan="4"><div align="center">Man Utd</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>8 &uarr;</td><td colspan="4"><div align="center">Newcastle</div></td>
            <td>11</td>
            <td >16</td>
          </tr>
          <tr>
            <td>9 &uarr;</td><td colspan="4"><div align="center">Stoke</div></td>
            <td>11</td>
            <td >15</td>
          </tr>
          <tr>
            <td>10 &darr;</td><td colspan="4"><div align="center">Everton</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>11 &darr;</td><td colspan="4"><div align="center">Liverpool</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>12 &darr;</td><td colspan="4"><div align="center">Spurs</div></td>
            <td>11</td>
            <td >14</td>
          </tr>
          <tr>
            <td>13 &darr;</td><td colspan="4"><div align="center">West Brom</div></td>
            <td>11</td>
            <td >13</td>
          </tr>
          <tr>
            <td>14 &uarr;</td><td colspan="4"><div align="center">Sunderland</div></td>
            <td>11</td>
            <td >12</td>
          </tr>
          <tr>
            <td>15 &darr;</td><td colspan="4"><div align="center">Hull</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>16 &#9679;</td><td colspan="4"><div align="center">Aston Villa</div></td>
            <td>11</td>
            <td >11</td>
          </tr>
          <tr>
            <td>17 &#9679;</td><td colspan="4"><div align="center">Crystal Palace</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>18 &#9679;</td><td colspan="4"><div align="center">Leicester</div></td>
            <td>11</td>
            <td >9</td>
          </tr>
          <tr>
            <td>19 &#9679;</td><td colspan="4"><div align="center">QPR</div></td>
            <td>11</td>
            <td >8</td>
          </tr>
          <tr>
            <td>20 &#9679;</td><td colspan="4"><div align="center">Burnley</div></td>
            <td>11</td>
            <td >7</td>
          </tr>
          </tbody>
        </table>

      </section>


    </aside><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->