<section id="ccr-main-section">
<div class="container">


<section id="ccr-left-section" class="col-md-8">

  <div class="current-page">
    <a href="<%= Pathname(home_index_path) %>"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a>Tin tức
  </div> <!-- / .current-page -->

  <section id="ccr-blog">
    <% %>


    <article>
      <figure class="blog-thumbnails">
        <img src="<%=  image_path('news/bai1.jpg') %>" alt="Article Image ">
      </figure> <!-- /.blog-thumbnails -->
      <div class="blog-text">
        <h1><a href="<%= Pathname(home_new1_path) %>">Arsenal 4-1 Newcastle: Giroud lại gây khó khăn cho Magpies</a></h1>
        <p>
          Olivier Giroud và Santi Cazorla đều ghi hai bàn trong trận Arsenal gặp Newcastle United để giành được chiến thắng với tỷ số 4-1 và mang lại danh tiếng lớn cho HLV Arsene Wenger.
        </p>


        <div class="meta-data">
          <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
          <span class="read-more"><a href="<%= Pathname(home_new1_path) %>">Read More</a></span>
        </div>
      </div> <!-- /.blog-text -->

    </article>

    <article>
      <figure class="blog-thumbnails">
        <img src="<%=  image_path('news/bai2.jpg') %>" alt="Article Image ">
      </figure> <!-- /.blog-thumbnails -->
      <div class="blog-text">
        <h1><a href="<%= Pathname(home_new2_path) %>">Costa lại ghi bàn khi Chelsea giành chiến thắng</a></h1>
        <p>
          Chelsea trở lại đà chiến thắng tại Barclays Premier League với chiến thắng 2-0 trước Hull City tại Stamford Bridge vào thứ Bảy.
        </p>


        <div class="meta-data">
          <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
          <span class="read-more"><a href="<%= Pathname(home_new2_path) %>">Read More</a></span>
        </div>
      </div> <!-- /.blog-text -->

    </article>

    <article>
      <figure class="blog-thumbnails">
        <img src="<%=  image_path('news/bai3.jpg') %>" alt="Article Image ">
      </figure> <!-- /.blog-thumbnails -->
      <div class="blog-text">
        <h1><a href="<%= Pathname(home_new3_path) %>">Swansea vs Spurs: Monk đang tìm kiếm phản hồi tích cực</a></h1>
        <p>
          HLV Swansea City Garry Monk đã tập hợp các cầu thủ của mình trước trận đấu hôm Chủ Nhật của Barclays Premier League với Tottenham Hotspur.
        </p>


        <div class="meta-data">
          <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
          <span class="read-more"><a href="<%= Pathname(home_new3_path) %>">Read More</a></span>
        </div>
      </div> <!-- /.blog-text -->

    </article>

    <article>
      <figure class="blog-thumbnails">
        <img src="<%=  image_path('news/bai4.jpg') %>" alt="Article Image ">
      </figure> <!-- /.blog-thumbnails -->
      <div class="blog-text">
        <h1><a href="<%= Pathname(home_new4_path) %>">Sao Arsenal gây ấn tượng bởi các công tác xã hội của Arsenal Foundation</a></h1>
        <p>
          Kể từ khi The Arsenal Foundation đã được đưa ra vào năm 2012, hơn 1 triệu bảng đã được cam kết tài trợ cho các dự án đạt trên 100.000 thanh niên ở Anh và ở nước ngoài và ngày sẽ có một số sự kiện gây quỹ khác, kể cả những người chụp ảnh mình trong Giáng sinh jumper.
        </p>


        <div class="meta-data">
          <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
          <span class="read-more"><a href="<%= Pathname(home_new4_path) %>">Read More</a></span>
        </div>
      </div> <!-- /.blog-text -->

    </article>

    <article>
      <figure class="blog-thumbnails">
        <img src="<%=  image_path('news/bai5.jpg') %>" alt="Article Image ">
      </figure> <!-- /.blog-thumbnails -->
      <div class="blog-text">
        <h1><a href="<%= Pathname(home_new5_path) %>">Bachchan: "BPL Live đã tạo nên 1 cuộc cách mạng cho bóng đá Ấn Độ"</a></h1>
        <p>
          "Đây là thời điểm rất thú vị cho bóng đá ở Ấn Độ" - Abhishek Bachchan
        </p>


        <div class="meta-data">
          <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
          <span class="read-more"><a href="<%= Pathname(home_new5_path) %>">Read More</a></span>
        </div>
      </div> <!-- /.blog-text -->

    </article>

    <article>
      <figure class="blog-thumbnails">
        <img src="<%=  image_path('news/bai6.jpg') %>" alt="Article Image ">
      </figure> <!-- /.blog-thumbnails -->
      <div class="blog-text">
        <h1><a href="<%= Pathname(home_new6_path) %>">Man Utd hy vọng Van Persie có thể đánh bại Liverpool một lần nữa</a></h1>
        <p>
          Robin van Persie đã rất thành công cá nhân với Liverpool tại Premier League và Manchester United sẽ được hy vọng ông có thể tiếp tục xu hướng trong trận đấu hôm chủ nhật tại Old Trafford.
        </p>


        <div class="meta-data">
          <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
          <span class="read-more"><a href="<%= Pathname(home_new6_path) %>">Read More</a></span>
        </div>
      </div> <!-- /.blog-text -->

    </article>

    <article>
      <figure class="blog-thumbnails">
        <img src="<%=  image_path('news/bai7.jpg') %>" alt="Article Image ">
      </figure> <!-- /.blog-thumbnails -->
      <div class="blog-text">
        <h1><a href="<%= Pathname(home_new7_path) %>">Man Utd gặp Liverpool: Van Gaal gợi ý về sự trở lại của Falcao</a></h1>
        <p>
          Louis van Gaal sẽ dựa vào trợ lý của ông Ryan Giggs để động viên đội Manchester United của ông cho Barclays Premier League trận đấu hôm Chủ Nhật với Liverpool.
        </p>


        <div class="meta-data">
          <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
          <span class="read-more"><a href="<%= Pathname(home_new7_path) %>">Read More</a></span>
        </div>
      </div> <!-- /.blog-text -->

    </article>

    <article>
      <figure class="blog-thumbnails">
        <img src="<%=  image_path('news/bai8.jpg') %>" alt="Article Image ">
      </figure> <!-- /.blog-thumbnails -->
      <div class="blog-text">
        <h1><a href="<%= Pathname(home_new8_path) %>">Arsenal chạm trán Newcastle: Wenger giáng một đòn xuống Ramsey</a></h1>
        <p>
          Arsenal sẽ không có Aaron Ramsey cho Barclays Premier League trận đấu với Newcastle United hôm thứ Bảy tại sân Emirates.
        </p>


        <div class="meta-data">
          <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
          <span class="read-more"><a href="<%= Pathname(home_new8_path) %>">Read More</a></span>
        </div>
      </div> <!-- /.blog-text -->

    </article>

    <article>
      <figure class="blog-thumbnails">
        <img src="<%=  image_path('news/bai9.jpg') %>" alt="Article Image ">
      </figure> <!-- /.blog-thumbnails -->
      <div class="blog-text">
        <h1><a href="<%= Pathname(home_new9_path) %>">Mourinho: Costa đã sẵn sàng giành điểm ở lần trở lại tới</a></h1>
        <p>
          HLV Chelsea Jose Mourinho tin rằng nỗ lực của Diego Costa hồi giữa tuần sẽ giúp đỡ để đưa anh trở lại trong những mục tiêu trước chuyến thăm của Hull City hôm thứ Bảy.
        </p>


        <div class="meta-data">
          <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
          <span class="read-more"><a href="<%= Pathname(home_new9_path) %>">Read More</a></span>
        </div>
      </div> <!-- /.blog-text -->

    </article>

    <article>
      <figure class="blog-thumbnails">
        <img src="<%=  image_path('news/bai10.jpg') %>" alt="Article Image ">
      </figure> <!-- /.blog-thumbnails -->
      <div class="blog-text">
        <h1><a href="<%= Pathname(home_new10_path) %>">Aguero và Pardew nhận giải thưởng hàng tháng của Barclays</a></h1>
        <p>
          Tiền đạo Manchester City Sergio Aguero và Newcastle United, Alan Pardew đã tuyên bố các giải thưởng Barclays cho tháng Mười Một.
        </p>


        <div class="meta-data">
          <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
          <span class="read-more"><a href="<%= Pathname(home_new10_path) %>">Read More</a></span>
        </div>
      </div> <!-- /.blog-text -->

    </article>

    <article>
      <figure class="blog-thumbnails">
        <img src="<%=  image_path('news/bai11.jpg') %>" alt="Article Image ">
      </figure> <!-- /.blog-thumbnails -->
      <div class="blog-text">
        <h1><a href="<%= Pathname(home_new11_path) %>">Premier League kiện ITT vì bản quyền phát sóng ở Anh</a></h1>
        <p>
          Premier League hôm nay đã đưa cho các bên quan tâm Invitations to Tender (viết tắt là ITT) cho bản quyền truyền hình Anh nghe nhìn của mình cho mùa 2016/17 - 2018/19.
        </p>


        <div class="meta-data">
          <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
          <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
          <span class="read-more"><a href="<%= Pathname(home_new11_path) %>">Read More</a></span>
        </div>
      </div> <!-- /.blog-text -->

    </article>



    <div class="clearfix"></div>


  </section> <!-- /#ccr-blog -->


</section><!-- /.col-md-8 / #ccr-left-section -->



<aside id="ccr-right-section" class="col-md-4">


  <section id="ccr-calender">

    <table id="calendar">
      <caption >LIVE!</caption>
      <thead data-iceapc="1">
      <tr>
        <th width="15%" title="Monday" scope="col">Pos</th>
        <th colspan="4" scope="col" title="Tuesday">Club</th>
        <th width="15%" title="Saturday" scope="col">Pld</th>
        <th width="15%" title="Sunday" scope="col">Pts</th>
      </tr>
      </thead>

      <tfoot data-iceapc="4">
      <tr data-iceapc="3">
        <td colspan="4" id="prev"><a href="<%= Pathname(home_leaguetable_path) %>" title="Previous">&laquo; Chi tiết</a></td>
        <td colspan="3" id="next" class="pad"><a href="<%= Pathname(home_form_path) %>" title="Next">Phong độ &raquo;</a></td>
      </tr>
      </tfoot>

      <tbody>
      <tr>
        <td>1 &#9679;</td><td colspan="4"><div align="center">Chelsea</div></td>
        <td>11</td>
        <td >29</td>
      </tr>
      <tr>
        <td>2 &#9679;</td><td colspan="4"><div align="center">Southampton</div></td>
        <td>11</td>
        <td >25</td>
      </tr>
      <tr>
        <td>3 &#9679;</td><td colspan="4"><div align="center">Man City</div></td>
        <td>11</td>
        <td >21</td>
      </tr>
      <tr>
        <td>4 &uarr;</td><td colspan="4"><div align="center">West Ham</div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>5 &uarr;</td><td colspan="4"><div align="center">Swansea</div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>6 &darr;</td><td colspan="4"><div align="center">Arsenal</div></td>
        <td>11</td>
        <td >17</td>
      </tr>
      <tr>
        <td>7 &uarr;</td><td colspan="4"><div align="center">Man Utd</div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>8 &uarr;</td><td colspan="4"><div align="center">Newcastle</div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>9 &uarr;</td><td colspan="4"><div align="center">Stoke</div></td>
        <td>11</td>
        <td >15</td>
      </tr>
      <tr>
        <td>10 &darr;</td><td colspan="4"><div align="center">Everton</div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>11 &darr;</td><td colspan="4"><div align="center">Liverpool</div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>12 &darr;</td><td colspan="4"><div align="center">Spurs</div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>13 &darr;</td><td colspan="4"><div align="center">West Brom</div></td>
        <td>11</td>
        <td >13</td>
      </tr>
      <tr>
        <td>14 &uarr;</td><td colspan="4"><div align="center">Sunderland</div></td>
        <td>11</td>
        <td >12</td>
      </tr>
      <tr>
        <td>15 &darr;</td><td colspan="4"><div align="center">Hull</div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>16 &#9679;</td><td colspan="4"><div align="center">Aston Villa</div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>17 &#9679;</td><td colspan="4"><div align="center">Crystal Palace</div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>18 &#9679;</td><td colspan="4"><div align="center">Leicester</div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>19 &#9679;</td><td colspan="4"><div align="center">QPR</div></td>
        <td>11</td>
        <td >8</td>
      </tr>
      <tr>
        <td>20 &#9679;</td><td colspan="4"><div align="center">Burnley</div></td>
        <td>11</td>
        <td >7</td>
      </tr>
      </tbody>
    </table>

  </section>


</aside><!-- / .col-md-4  / #ccr-right-section -->


</div><!-- /.container -->
</section><!-- / #ccr-main-section -->